[2020-12-02 17:51] henryyi opened #4 "Storybook:Sortable - Press Delay not working in Android Chrome"
The press delay is no being honoured for any of the Sortable examples in Storybook in Android Chrome.
However the Press Delay under Basic does work.

[2020-12-02 17:52] henryyi opened #5 "Support for pinch zoom in Android Chrome"
Currently doing a pinch zoom over draggable items in Android Chrome will cause items to drag unexpectedly.

[2020-12-02 17:54] #4 closed, assigned to nobody

[2020-12-02 18:00] clauderic opened #6 "Touchmove events stop firing if the event.target is removed from the DOM"
https://stackoverflow.com/questions/33298828/touch-move-event-dont-fire-after-touch-start-target-is-removed

[2020-12-02 18:40] #6 closed, assigned to clauderic

[2020-12-02 22:57] clauderic opened #12 "Investigate issue with CI unit tests script"
Sometimes it fails to find types for some of the packages, seems like a flaky race condition type of error

[2020-12-04 15:24] husshegz opened #15 "Sortable preset - Issue with auto-scroll on small browser windows"

[2020-12-04 15:26] husshegz opened #16 "DragOverlay does not change position when the window is resized"
Go inside the storybook - Multiple containers story

1) Focus on one item with your keyboard (tab+space)
2) resize window
3) Item overflows

[2020-12-04 16:03] clauderic opened #17 "Build playground for every PR"
Ideally we should build a hosted version of the playground for every PR. Arguably, the Playground perhaps just needs to belong in Storybook to simplify things.

[2020-12-04 16:52] MateusJabour opened #19 "`document` is undefined for server side rendering"
When using the library in a project with SSR, `document` is undefined on the first render:

![image](https://user-images.githubusercontent.com/11710000/101190935-12162e00-3627-11eb-879e-364c705b43fa.png)

[2020-12-04 20:39] #12 closed, assigned to nobody

[2020-12-04 20:53] clauderic opened #23 "Improve auto-scrolling for small containers / large drag sources"
Currently if you have a small scroll container and a large drag source, it's nearly impossible to get fine controlled auto-scrolling working properly given the existing auto-scrolling logic.

The [getScrollDirectionAndSpeed](https://github.com/clauderic/dnd-kit/blob/master/packages/core/src/utilities/getScrollDirectionAndSpeed.ts) will need to be updated to take into account the relative size of t

[2020-12-05 15:05] #19 closed, assigned to nobody

[2020-12-06 04:34] clauderic opened #25 "useDraggable has no listeners if there are no droppables"

[2020-12-06 04:35] clauderic opened #26 "Scroll container search should widen if current overflow container is not scrollable"

[2020-12-06 14:58] emma-boardman opened #28 "[Sortable] `Vertical` story spacing does not render correctly in Safari"
The spacing between the Sortable Items in the `Vertical` stories is not rendered correctly in Safari

Safari on MacOS:

![image](https://user-images.githubusercontent.com/17032120/101283600-4dedf680-37d3-11eb-8f19-8116cb927fe6.png)

Chrome on MacOS:

![image](https://user-images.githubusercontent.com/17032120/101283601-53e3d780-37d3-11eb-8356-a1b2ce26d7b6.png)

[2020-12-09 01:08] #28 closed, assigned to nobody

[2020-12-30 02:26] #25 closed, assigned to nobody

[2020-12-30 02:26] #26 closed, assigned to nobody

[2021-01-03 12:27] logikalcamp opened #34 "Docs about "Sortable" are not running"
there is a function "useSortableSensors" which never been imported...

[2021-01-03 14:18] clauderic commented on #34
Good catch, thanks. Those were outdated.

Use:

[code]

[2021-01-03 14:18] #34 closed

[2021-01-04 04:15] cuongdevjs opened #36 "Consider add example about drag div item outside container to container draggable"

[2021-01-04 04:17] cuongdevjs commented on #36
For example, I have a list dropdown item can be dragged, I wanna drag item and drop it to the container draggable.

[2021-01-04 13:47] clauderic commented on #36
Could you elaborate a bit more or provide a visual example just to make sure I can better visualize what you're trying to build?

[2021-01-04 14:58] cuongdevjs commented on #36
Sorry if my description hard to understand 😄
Basically, it's kind of https://frontend-collective.github.io/react-sortable-tree/?path=/story/advanced--drag-from-external-source

[2021-01-04 15:47] clauderic commented on #36
Do you need a nested tree or are you only looking to be able to drag something from outside into a list? And also, does the list need to be sortable?

[2021-01-04 16:00] cuongdevjs commented on #36
Yes, it's nice. I think that feature (or example about features as you mention above) should be added. It's helpful for many people looking for a solution to do that.
Thanks 😊

[2021-01-06 08:31] logikalcamp opened #38 "Resizing a content of a div in sorting between diffrent width containers"
maybe you have an idea how can I solve it

https://www.loom.com/share/101663e9b04449b9a220ee5891ce26d3

[2021-01-06 10:33] kacpak opened #39 "Nested sortable"
Hi, I'd like to achieve a nested sortable (where I can drag and drop between different levels) like in this sortablejs example: https://sortablejs.github.io/Sortable/#nested

I've tried to make it based on documentation, but it looks like I cannot even drag outside SortableContext. Am I doing something wrong or is it not possible yet? If so is it planned?

My try: https://codesandbox.io/s/react-ne

[2021-01-06 14:05] clauderic commented on #38
Ah yes, this needs to be documented better.

You need to use `CSS.Translate.toString` instead of `CSS.Transform.toString` if you don't want the scale to change when sorting between variable sized items

[2021-01-06 14:05] #38 closed

[2021-01-06 17:05] clauderic commented on #39
I don't have time to fully update the `onDragOver` and `onDragEnd` logic at the moment, but I left some comments of what would need to be implemented:
https://codesandbox.io/s/react-nested-dnd-kit-forked-m1lkg?file=/src/App.js

The main issue with your example was that you need to use a `DragOverlay` because the draggable element will potentially be re-parented in `onDragOver` if the depth changes

[2021-01-06 21:29] LuisOsta opened #40 "Sortable Grid No Longer Updates After A Few Swaps"
**Issue**
Although both kinds of sensors work initially. After a certain number of moves, they stop working altogether. I've checked the event handler, and it never triggered. So I don't think it's an issue with the way I'm handling updates.

Any idea of what it could be? I've attached a [video](https://user-images.githubusercontent.com/18711855/103821510-e0342500-5033-11eb-9d71-983cb3d45004.mp4)

[2021-01-06 21:55] clauderic commented on #40
Here's a small sandbox you can look at that roughly replicates what I think you're trying to achieve, though I have abstracted complexity such as external dependencies:
https://codesandbox.io/s/bitter-dawn-u4ll1?file=/src/App.js

**Couple of observations:**

- The `key` passed to the items in `map`  should be stable so that your components don't unmount and re-mount when the order changes: `<Grid

[2021-01-06 22:05] LuisOsta commented on #40
Thanks for the help! You were completely right on the key property being the issue. Do you know why that would cause issues with the drag and drop?

And yeah sorry the inclusion of the other sensors was code that I'd forgotten to remove. Thanks!

[2021-01-06 22:13] clauderic commented on #40
I'm not entirely certain yet, this will require further investigation, but my best guess is that this is causing issues with draggable / droppable hook effects not properly running because they are not being cleaned up the in the way that would be expected (that is, using stable keys).

Will investigate further, but going to go ahead and close this issue since using unstable keys is not a supporte

[2021-01-06 22:13] #40 closed

[2021-01-06 22:23] LuisOsta commented on #40
Sounds good, thanks!

[2021-01-07 14:51] KenanYusuf opened #41 "Resized dragged item loses position from cursor"
I am trying to recreate the [sortable grid with a large first tile](https://5fc05e08a4a65d0021ae0bf2-czytjnikoc.chromatic.com/iframe.html?id=presets-sortable-grid--large-first-tile&viewMode=story) example from Storybook and seeing an issue with dragging to and from the first item's position. It looks like the transform position of the dragged item is incorrect in relation to the user's cursor (see

[2021-01-07 15:25] clauderic commented on #41
Hey @KenanYusuf, currently variable sized grid only works well when using a [`<DragOverlay/>`](https://docs.dndkit.com/api-documentation/draggable/drag-overlay)

[2021-01-07 16:43] KenanYusuf commented on #41
@clauderic thank you, I've managed to get the desired effect with DragOverlay!

For anyone interested in a working version of this: https://codesandbox.io/s/vigorous-sanderson-hdysk

[2021-01-07 16:45] #41 closed

[2021-01-07 22:00] clauderic commented on #41
This looks great, thanks for sharing back with the community @KenanYusuf ❤️

**Made a few minor tweaks:**
- Using presentational components to get a better separation of concerns between sortable and non-sortable componeents https://docs.dndkit.com/api-documentation/draggable/drag-overlay#presentational-components
- Added handling of `onDragCancel` event
- Added `Grid` component

https://codesandb

[2021-01-08 13:34] Thebarda opened #42 "[Bug/Sortable] Active element is not visible when sorting strategy is not verticalListSortingStrategy"
Hello !

When the sorting strategy is not verticalListSortingStrategy, the active element is not visible and the others elements does not move while the active element hovers them.
But when releasing the mouse, elements are correctly sorted !

Here is a video that show the error : https://www.loom.com/share/897f0d5e80e04514a2ef4ca7ef049914
Here is a repro code : https://codesandbox.io/s/suspicious

[2021-01-08 16:35] clauderic commented on #42
This isn't a bug with the library. You're using `span` elements as wrappers, which are not transformable elements. Refer to https://drafts.csswg.org/css-transforms-1/#transformable-element

See also https://stackoverflow.com/questions/14883250/css-transform-doesnt-work-on-inline-elements

Make sure you use an element that is transformable, such as `div`, `button`, `li`, etc.

Updated sandbox:
http

[2021-01-08 16:35] #42 closed

[2021-01-08 17:43] Thebarda commented on #42
Thank you @clauderic for the tip 👍

[2021-01-09 11:23] jeserodz opened #43 "RectIntersection is not working with draggable items inside a scrollable container"
The draggable items that are scrolled are not calculating the `intersectionRatio` correctly.

Please, see this code sandbox for an example: https://codesandbox.io/s/react-dnd-grid-0ylzl?file=/src/App.js

NOTE: Try dragging the last draggable item into one droppable area.

[2021-01-09 12:55] Thebarda opened #44 "Sortable elements with variable size looks weird when dargging an element"
Hello !

I have an issue when moving an element through elements with variable. Indeed, the transform property applies a scale an X an Y axis on move elements.

Here is a repro project : https://codesandbox.io/s/test-dnd-kit-g4x2i

Is there a way to fix the translate properties an bypass the scale ones ?

Thank you in advance :)

[2021-01-09 14:04] clauderic commented on #44
Hey @Thebarda, it's entirely up to the consumer to decide whether they want scale transformations or not.

Use `CSS.Translate.toString(transform)` instead of `CSS.Transform.toString(transform)`.

Will make a reminder to better document this.

[2021-01-09 14:15] #44 closed

[2021-01-09 14:52] Thebarda commented on #44
I dived into the code and I found out the `Translate` property instead of `Transform` but the problem stil persist with `Translate`.

I tried to compute the translation myself by using properties provided by `useSortable` (over) but it doesn't provide information about the dragged element like `over` does

[2021-01-09 14:52] clauderic commented on #43
Hey @jeserodz, seems like a legit bug, thanks for the report!

[2021-01-09 15:23] clauderic commented on #44
Hey @Thebarda, the problem with your example is that none of the built-in sorting strategies will ever be able to predict and compute in advance the final positions of your items because their layout is not stable.

For example, if you move `Codesandbox` after `it is very long` in this example:

<img width="209" alt="Screen Shot 2021-01-09 at 10 18 00 AM" src="https://user-images.githubusercontent

[2021-01-09 15:37] Thebarda commented on #44
That looks great for my use case. Sorry, I didn't know that sorting strategies was "optional".
Yes you are right the first option is very complex (maybe gonna do it in a PR if have enough time) but the second option is good for now.

Thank you for the work done in this repo 👍

[2021-01-09 15:38] clauderic commented on #44
The other alternative that I did not mention is to make the layout of your items predictable, which is probably the least effort / most performant, but may not align with the UX you are going for:

https://codesandbox.io/s/test-dnd-kit-forked-pun7j?file=/src/App.js

[2021-01-09 16:28] ZipBrandon opened #45 "Consider adding Clone from List example"
A popular use-case for DnD is to drag Draggables from a static list to a Sortable Droppable as in a block-based page builder.  Consider adding example to the Storybook to achieve this.

[2021-01-09 17:24] clauderic commented on #43
For the time being, you can use the `closestCenter` or `closestCorners` collision detection algorithms as a workaround, as this is a bug that will take a bit of time to fix.

[2021-01-09 18:26] Thebarda commented on #44
Yes, I thought about this solution but is not the best UX pattern.
Thanks about the given options

[2021-01-09 22:39] clauderic commented on #39
Closing this issue as it is more of a help request than an issue. Feel free to reopen if you run into bugs.

[2021-01-09 22:39] #39 closed

[2021-01-10 07:42] pbteja1998 opened #46 "DndContext reducers all point to the same initial state variable, which is causing id collisions across nested and sibling providers"
Hi,  First of all, great job building this. It's an awesome library.

I am facing a problem with a use case where I have a nested structure. Can you please help resolve this?

I have a structure similar to the following:
[code]
Now, I am able to move the draggable items to droppable zones. But the events are not being detected when trying to sort items in the individual droppable zones. I assume i

[2021-01-10 16:38] clauderic commented on #46
Hey @pbteja1998, I haven't had time to look in-depth into the root cause of the issue in your case, that is, whether it is an issue in the library or a consumer error, but from what I can tell it appears like there was an `id` collision with your sortable items. I updated the `id` of the sortable items to something like `sortable-${id}` which seems to have resolved the collision. More investigatio

[2021-01-10 20:29] pbteja1998 commented on #46
hi @clauderic, Thanks a lot for the help. Changing the id to `sortable-${id}` seems to have fixed it.

Here is the updated code sandbox for reference.
https://codesandbox.io/s/dnd-kit-gm09q?file=/src/App.js

And Changing the collision strategy to `closestCenter` also fixed the second scroll bug that I asked about.

Again, thanks a lot for the fast response.

I have one last question. Why is the id

[2021-01-11 12:22] JamesGelok opened #47 "Consider adding nested drag example"
Commonly drag and drop libraries use the example of Trello boards, where you can drag and drop to reorder the items on a board in a list of boards, and then drag and drop to reorder the list of boards.

The cherry on top for an example like this would be using a virtualizer for nested draggable lists, which would showcase how powerful/flexible this library is. (Maybe 100 boards with 1000 items eac

[2021-01-11 12:51] JamesGelok opened #48 "Css modules using scss should be renamed to *.module.scss"
Inside the components folder for stories, `Item.module.css` (and other css modules using scss) should be renamed to `Item.module.scss` to accurately reflect their contents.

[2021-01-11 15:02] ruben00001 opened #49 "Droppable area detect if sortable item dropped over"
The docs state: "Use the useDroppable hook to set up DOM nodes as droppable areas that draggable elements can be dropped over."

I'm wandering if it's possible for droppable areas to detect if sortable elements are dropped over them?

Apologies in advance if I've missed something. It was straightforward to create a working example of a droppable area working with a draggable element. I've tried to

[2021-01-11 15:52] clauderic commented on #48
The files are not `scss`, they are PostCSS files with support for nesting and variables so technically a more accurate name would actually be `pcss`.

Would happily accept a PR to change that, but for now going to close this issue as it is more of a nitpick with file nomenclature than an actual issue with the library.

[2021-01-11 15:52] #48 closed

[2021-01-11 16:40] JamesGelok commented on #48
Gotcha, understandable. I had misunderstood bc it looked like scss and renaming worked to get it working on [codesandbox](https://codesandbox.io/s/wip-nested-virtualized-79vxm). 👍

[2021-01-11 16:47] ruben00001 commented on #49
I may have jumped the gun here. Somehow it seems to be somewhat working when I tried to reproduce the issue in a sandbox. I'll close this issue for now.

[2021-01-11 16:47] #49 closed

[2021-01-11 22:06] rams23 opened #50 "DragOverlay does not work if element is in absolute position with a scaled container"
When I use the DragOverlay inside a container (scaled), and the item has an absolute position inside it, the item replicated inside the drag overlay has the fixed position but with the left and top are taken from the original item (inside the scaled container).

Here is a repro example https://codesandbox.io/s/dnd-kit-scale-o69qm

This image shows the element that appears on click  (bigger and shi

[2021-01-12 00:05] clauderic commented on #46
Hey @pbteja1998, after some investigation I've found that this was indeed an issue with the library and not a consumer error. Thanks for reporting this issue, it allowed me to uncover a really bad bug https://github.com/clauderic/dnd-kit/pull/51

[2021-01-12 00:12] pbteja1998 commented on #46
@clauderic Awesome. Thanks for the clarification. Now, I will just wait for #43 to get fixed. Will try to go through the code myself and see if I can fix it myself and will raise a PR if I do so.

[2021-01-12 00:14] clauderic commented on #46
Hey @pbteja1998, the PR with the fix is already open here #51 if you're curious about the fix, but thanks for offering to look into it

[2021-01-12 00:16] pbteja1998 commented on #46
@clauderic Will this also fix #43 -- fixing RectIntersection algorithm inside a scrollable container?

[2021-01-12 00:17] clauderic commented on #46
Oh sorry, I misread your comment. It will not, no. I have a separate fix in progress for #43

[2021-01-12 00:17] pbteja1998 commented on #46
Awesome. Thanks.

[2021-01-12 00:18] #46 closed

[2021-01-12 00:56] clauderic commented on #46
The fix has shipped in `1.0.1`, let me know if you run into other issues related to unexpected `id` collisions

[2021-01-12 01:20] pbteja1998 commented on #46
Will update and revert back from `sortable-${id}` to `id` and check.

[2021-01-12 03:03] clauderic commented on #15
Closing as it is essentially a duplicate of #23

[2021-01-12 03:03] #15 closed

[2021-01-12 19:33] sscaff1 opened #53 "Elements opacity is not being reset with multiple Draggable elements"
Here is a codesandbox with the issue. If you have a single Draggable element, then the default animation associated with DragOverlay works fine. If you have multiple Draggable elements then the animation associated with DragOverlay is broken. It looks like it never resets to the original opacity. Not sure why.

https://codesandbox.io/s/intelligent-lake-uyimh?file=/src/App.js

Looks like these line

[2021-01-12 20:52] clauderic commented on #53
Hey @sscaff1, currently the `<DragOverlay>` component assumes that there are no more than one defined per `<DndContext>` provider. Try lifting the state up outside of your draggable components.

https://codesandbox.io/s/focused-thompson-5cxqv?file=/src/App.js

Having more than a single `<DragOverlay>` component _may_ be something that is supported in the future, but no immediate plans around this

[2021-01-12 20:52] #53 closed

[2021-01-12 20:54] sscaff1 commented on #53
Thanks for explaining this. I want to render a different element depending in the DragOverlay on the type of the draggable. I'm guessing; however, I can just use `over` to do that.

[2021-01-12 21:05] clauderic commented on #53
Gotcha. That's a fair use-case.

For the time being, you'd need knowledge of what type of overlay the associated active draggable `id` is associated to. For now, you could do something like this: https://codesandbox.io/s/affectionate-carson-b9jif

In future versions of `@dnd-kit`, it will be possible to add metadata for your draggable elements to make this easier.

[2021-01-13 14:24] sscaff1 commented on #45
This is actually the use-case I'm working on. I have a set of draggables and then a vertical sortable list. Is the strategy here to clone the elements you pick up?

[2021-01-13 14:48] ZipBrandon commented on #45
I've gotten pretty far with this strategy on cloning.  It doesn't feel the most pure but is working in many standard cases.  I've distilled down the steps and the complexities of my logic since I'm doing multiple item selection/dragging/dropping as well in many thanks to @henryyi and this PR: https://github.com/clauderic/dnd-kit/pull/13

- Creating a `sortableId` on my objects that I am DnD with h

[2021-01-13 15:27] sscaff1 commented on #45
Are you cloning the item you pick up onDragStart?

I'm using the same setup as you (except I don't have a Droppable wrapping my source draggables). My problem is when I drop an item onto my sortable - it's still linked to my source element. So when I pick it up on the destination container, the source container still thinks I'm picking it up as well. If I "delete" it from my destination container,

[2021-01-13 15:49] ZipBrandon commented on #45
The cloning happens `onDragOver` in this step:

I found it was easier to create a new sortableId on the object that was being cloned from then the new object.

It seems that `dnd-kit` is built internally upon `id` as being the unique representation of the object.  I had to map the `sortableId` to fit this construct.
[code]

[2021-01-13 17:55] sscaff1 commented on #45
Thanks I got this to work. My mistake was not pay attention and using ids that conflicted.

[2021-01-13 23:17] jamin-aws-ospo opened #55 "dnd-kit/core package does not include or declare its license"
The NPM package format provides support for declaring a package's license:
https://docs.npmjs.com/cli/v6/configuring-npm/package-json#license

The above does not appear to be used by at least the `dnd-kit/core` package.  Haven't check others.

Additionally, while the repository has a [LICENSE](https://github.com/clauderic/dnd-kit/blob/master/LICENSE) file, it does not appear to be included in with

[2021-01-14 02:55] clauderic commented on #55
Good callout, this was definitely an oversight, thanks for pointing this out.

Will be resolved in https://github.com/clauderic/dnd-kit/pull/56

[2021-01-14 03:07] #55 closed

[2021-01-14 04:37] MilesV64 opened #58 "Difficult to manage drags across sections of the app"
Example: I have a sortable list of items, but the user can also drag an item from the list into a completely different section of the app.

If I understand the docs correctly, Droppables will only recognize Draggables that are descendants of the same DnDContext. Since the sortable list is a deeply nested component that is far away from the area that I want the item to be dragged to, it means the D

[2021-01-14 16:36] mxck commented on #39
@clauderic in your corrected example, it is still not possible to move the entities through the tree.
Does the library support that? In the storybook examples only have moving between containers, but no nested containers.

[2021-01-14 16:51] clauderic commented on #39
@mxck the library supports this, as mentioned above, I don't have time to fully update the onDragOver and onDragEnd logic at the moment, but I left some comments of what would need to be implemented from a consumer perspective to make it work:
https://codesandbox.io/s/react-nested-dnd-kit-forked-m1lkg?file=/src/App.js

[2021-01-15 09:54] idhard opened #59 "is it possible to get overId and activeId on dndcontext modifiers ?"
hey, awesome library! really smooth transitions

is it possible to get the overId and activeId on a custom modifier context ? I would like to apply custom restrictions based on the type of the element i'm dragging rather than its position.

thanks

[2021-01-15 18:10] clauderic commented on #59
Hey, not currently, but this would be a fairly straightforward change. If you'd like to and have time to do so, PRs are welcome 🙏

[2021-01-16 22:42] bbenzikry commented on #58
We make this a bit easier for ourselves by using a single hook that manages the entire drag process ( most required state is managed through our own context provider, so it's oblivious as to which components are used and focuses on the drag item IDs for logic)
The problem we did face with this approach is when using DragOverlay. We still had to conditionally mount one of two components ( represent

[2021-01-16 23:23] bbenzikry opened #61 "Wrong top calculation for scroll ancestors with fixed position?"
Hi there, we're using the library to create a dnd experience between a scrollable fixed position div and a sortable ( scrollable ) drop zone.
This mostly works well ( we're currently using PR #54 as our basis ) but causes our DragOverlay to appear in the wrong top position after scrolling the drop zone.

Below is an example based on the sandbox shown in #43
![scroll-fixed-3](https://user-images.gi

[2021-01-17 03:01] ZipBrandon opened #62 "Incorrect detection of over container with a long scrolling container"
I am dragging from one Droppable container to another Droppable/Sortable container. If the source Droppable has many items in it and the the destination Droppable does not have as many items, the over container still registers the source container even though I am over of the destination.  Curiously, the source container will scroll until it reaches some threshold and then it correctly detects the

[2021-01-17 05:14] soplanstudio opened #63 "Sortable elements in multiple containers do not receive 'transform' property"
Hello, based on the documentation, I am trying to create sortable elements in multiple containers, however, when dragging the elements in the same container, no return in "transform".

I'm a beginner in react, and I'm confused if this could be a bug, or if I'm missing some information.

I reproduced what I'm trying to do here:
https://codesandbox.io/s/friendly-glitter-5jlpf

Thanks for the library

[2021-01-17 15:51] clauderic commented on #63
Hey @soplanstudio,

The only issue with the code above is how you're currently passing `items` to `<SortableContext>`; it expects a sorted array of unique identifier strings, but you're passing it an array of objects:

[code]

To fix this in your case:
[code]

[2021-01-17 15:51] #63 closed

[2021-01-18 14:39] fedotxxl commented on #39
@clauderic can you provide an example with the support of dragging an element from one container to another one + dragging a container from one to another?

There are a lot of dnd libraries but **none of them** supports it. It's required to implement a complex tree structure with folders and files (and other ones) where you can drag folders and drag files.

[2021-01-19 03:56] vkammerer opened #64 "Unwanted animation in sortable list when moving between multiple containers"
Hello and thank you for the great library,

I noticed unwanted artefacts in my implementation of a dnd between multiple containers of sortable items, which was an adaptation of your `<MultipleContainers />` component demoed [in the story](https://github.com/clauderic/dnd-kit/blob/d13d28471ec7716f08e211647cad89ae3c11dd06/stories/2%20-%20Presets/Sortable/MultipleContainers.tsx).

After a while debug

[2021-01-19 09:31] JamesGelok commented on #17
CodeSandbox is a very good choice for this, imo.

[2021-01-19 11:32] pachu4u opened #65 "How do we achieve nesting of nodes?"
Is it possible to achieve nesting of nodes. Similar to react-dnd.

EX:
* Boxes - Droppable / draggable
   * VeggieBox - Droppable / draggable
       * Carrots - Draggable
   * DairyBox - Droppable / draggable
       * Milk - Draggable

How do we achieve this?
Also would it be possible to integrate it with react-flow (https://github.com/wbkd/react-flow) Droppable & draggable as types of nodes.

Any

[2021-01-20 01:39] clauderic commented on #64
Hey @vkammerer, sounds like a bug. Could you record a video of the issue to help me visualize it?

[2021-01-20 01:57] vkammerer commented on #64
sure, here it is:
- I drag A1 under A5 and all is correctly animated and positioned
- look at the A column when A1 is drag onto the B list: the A items are animated again (even though they should remain still)

https://user-images.githubusercontent.com/1177483/105116382-894c4680-5b2f-11eb-8f2d-313ead755f87.mov

[2021-01-20 18:55] horprogs commented on #23
Hey, first of all, thank you for your job!
This issue is related to this behaviour, right? Is there any way to improve this?

![ezgif com-gif-maker](https://user-images.githubusercontent.com/14051960/105221467-0e942300-5b51-11eb-8198-423fb2ca6ad8.gif)

[2021-01-21 14:21] Pustelto opened #67 "Memoize attributes returned from useDraggable unless they change"
Hi @clauderic, thanks for great DnD Library.

I'm trying to create sortable nested tree with it. I'm almost done, but since we have quite a lot of items in the tree and so far I couldn't found virtualization library that would support nested structures. So I'm trying to get as much perf as possible through other means (mainly useMemo hooks and React.memo). However I have noticed that `attributes`

[2021-01-21 15:43] clauderic commented on #67
Should be a fairly straightforward change, feel free to submit a PR for this

[2021-01-22 21:48] #67 closed

[2021-01-23 22:36] tsaockham opened #69 "Are there plans to support touch events?"
Hello,

This library seems very useful.  Are there any plans to support touch events in the future?  I think that would really help the adoption if you were able to support both HTML5 and touch seamlessly.

Cool library, looking forward to playing around with it.

Thanks,
-Todd

[2021-01-24 03:13] clauderic commented on #69
This is already supported, refer to the [Sensor](https://docs.dndkit.com/api-documentation/sensors) and [TouchSensor](https://docs.dndkit.com/api-documentation/sensors/touch) docs.

[2021-01-24 03:13] #69 closed

[2021-01-24 07:39] 10000multiplier opened #70 "Using object array instead of a string array for id?"
My sortable item has several props exposed such as title, category and image.

So instead of

[code]
My sortable item looks like:

[code]

I am not sure how I can make this work.

Any help would be appreciated!

[2021-01-25 11:12] JanJohanX opened #71 "Bad Collision detection on horizontal scrolling"
When "MultipleContainers" has horizontal scrolling then item cant detect "Trash"

[2021-01-25 21:45] TheUrbina20 commented on #70
@10000multiplier
In your `SortableContext` you can have something this:

[code]

And for your sortable elements:
`{items.map((item) => <SortableElement key={item.id} id={item.id} /> )}`

[2021-01-25 21:49] clauderic commented on #70
As mentioned by @TheUrbina20, the solution is to map the items to their corresponding unique identifiers.

You may want to memoize to avoid needless re-renders of the SortableContext:

[code]

[2021-01-25 21:49] #70 closed

[2021-01-25 21:50] clauderic commented on #71
Closing as I believe this is a duplicate of #61

[2021-01-25 21:50] #71 closed

[2021-01-25 23:10] 10000multiplier commented on #70
Awesome.

Using 'sortedItemIds', how would you reconfigure the handleDragEnd function?

`function handleDragEnd(event) {
    const {active, over} = event;

    if (active.id !== over.id) {
      setItems((items) => {
        const oldIndex = items.indexOf(active.id);
        const newIndex = items.indexOf(over.id);

        return arrayMove(items, oldIndex, newIndex);
      });
    }
  }`

 Simply

[2021-01-26 03:29] 10000multiplier commented on #70
fixed it with following code:

[code]

[2021-01-26 23:22] 10000multiplier commented on #70
How would you go about setting up the DragOverlay?

[code]

Any help would be appreciated.

[2021-01-27 03:14] 10000multiplier commented on #70
Found the solution that worked!

`const index = items.map((item) => item.id).indexOf(activeId);`

[code]

[2021-01-27 09:08] Thebarda opened #72 "Test dnd-kit with Jest and React Testing Library"
Hello there !

I'm trying to drag and drop element with Jest and React Testing Library. I'm using @dnd-kit/sortable.
I configure my sensors to listen to pointer events and keyboard events. When I testing on a browser both sensore works perfectly but within a Jest / React Testing Library these sensors does'nt work anymore.

For the keyboard way:
- I press "Enter" on drag handle
- I press "ArrowDown

[2021-01-27 14:30] xReaven opened #73 "Collision detection in sortable multi-containers with many items"
Hi dnd master,

I'm trying to do something like [this example](https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/story/presets-sortable-multiple-containers--many-items) with even more complexity within each columns (multi-level list...) but for the sake of this issue, the example is enough.

**Describe the bug (Required)**
When there is a lot of items in the first column (say A, so

[2021-01-27 16:51] pachu4u opened #74 "Nested DndContext not working"
Hi,

I am using dndcontext and draggable component (say background component) to show panning effect, The nodes that sit on this background component have their own dnd context. The nodes are draggable by the handle. But the panning is triggered when I drag the body of the node. Due to which I am unable to resize the node.

Here is the sandbox link. https://codesandbox.io/s/crazy-antonelli-ubzm1
I

[2021-01-29 03:07] clauderic commented on #72
Your best bet if you want to test real user-like drag and drop interactions would be Cypress yes. With Jest your tests should focus on the api surface exposed by `<DndContext>` and how your app re-renders as a result.

[2021-01-29 03:07] #72 closed

[2021-01-29 03:09] clauderic commented on #73
Duplicate of #43

[2021-01-29 03:09] #73 closed

[2021-01-29 08:46] xReaven commented on #73
Not exactly, I can reproduce whatever the collision algorithm I'm using.

[2021-01-29 08:50] xReaven commented on #43
In my issue (#73 you closed for duplicate), FYI, I do reproduce the bug even with others collisions algorithm. closestCorners / closestCenter are doing the same.

[2021-01-29 10:58] pachu4u opened #75 "Nesting of Nodes DOES NOT WORK"
Hi,

I was in love with this library until i hit this issue. :( I hope you could help me get this resolved.

I have a node that is both draggable and droppable.

I render two nodes into the playground like so

{nodes.map(node => {
          return <Node id={node.id} key={node.id} translate={node.deltaPos} />;
        })}

The issues with this approach.
1. Nodes do not drag smoothly - They flicker

[2021-01-29 16:12] yuri-scarbaci-lenio commented on #64
is it a bug tho?
in the video what is happening is that you are resizing the container to fit the new list which has 1 less item then before, as in the list A is not re-animating, it's just re-sizing ?

[2021-02-01 20:34] clauderic commented on #75
I don't really understand your use-case well, but from what I understand, these are all issues related to not using the library correctly:

This is because you added a transition on your nodes for `transform`:
[code]

The library does manage z-index for you, it's up to the consumer to manage z-index properly.

This is because you are rendering all of the contents of your `Background` component wit

[2021-02-01 20:34] #75 closed

[2021-02-01 20:34] clauderic commented on #74
I believe this is a duplicate of https://github.com/clauderic/dnd-kit/issues/74

[2021-02-01 20:34] #74 closed

[2021-02-03 13:16] pachu4u commented on #75
Hi,

It does not work even if I remove the nested dnd-context. Over is still null.

Actually when I drop it, over is null. After dropping node 2 in node 1, if I just click on the handle without moving it. The over gets populated. It should definitely be a bug.

[2021-02-03 13:21] pachu4u commented on #74
@clauderic  - It is not a duplicate. The dragging event on the nested dnd context is triggering the dragging event on the outer dnd context.

[2021-02-04 04:46] clauderic commented on #74
Please re-open with a reproduction case with the **minimum amount of code required to replicate**, but in my experience this is working fine. https://codesandbox.io/s/fervent-wing-0zqhd?file=/src/App.js

[2021-02-04 11:42] sventschui opened #77 "Sortable grid with different item sizes"
Hey

First thanks for the library, really appreciated!

Based on #41 I tried to create a sortable grid where the items have a different row/col span. I.e. one item is 2x1, another is 1x2 and a third is 1x1: https://codesandbox.io/s/dndkit-sortable-image-grid-forked-wmn92

I'm now facing two problems:
- When dragging an item over and item of different size (i.e. drag a 2x2 item over and item that i

[2021-02-04 15:43] clauderic commented on #77
I think this is roughly what you're trying to build: https://codesandbox.io/s/dndkit-sortable-image-grid-forked-bjh7n?file=/src/App.jsx

That's the lowest effort solution, but it's also buggy, because the layout is shifting and the collision detection strategy can get into a state where it's constantly hesitating between two positions while the items are moved in the DOM.

Ideally for a use-case l

[2021-02-04 17:32] sventschui commented on #77
Thanks for taking time to look into this issue, appreciated!

The sandbox already works a lot better. Unfortunately it crashes my chrome when dragging an item a bit longer. Any idea why this happens?

Implementing a custom sorting strategy would mean to check whether the element could be moved at the hovered place and move it there if it can be moved or move it to a later place in the sorted array

[2021-02-04 19:04] clauderic commented on #77
The stack overflow happens because the collision detection strategy can get into a state where it's constantly hesitating between two positions while the items are shifting positions in the DOM. Ideally the library should be able to detect that it's getting into such a scenario and avoid the stack overflow by picking one of the two positions, but this isn't currently planned; you'd need to try to

[2021-02-05 06:49] sventschui commented on #77
Thanks a lot for all the hints and your time. If I can come up with a solution I'll let you know. Closing the issue for now.

[2021-02-05 06:49] #77 closed

[2021-02-05 12:09] ksimons opened #78 "Spontaneous horizontal scrolling when using useSortable"
This issue is visible in the "Many items" multiple container example. Just pick up a single card starts the whole board scrolling rapidly to the right. I guess it's because the card is near the right edge, but in my experimentation it's very hard to get control of that horizontal scrolling if the board is wider than the screen.

Chrome/macOS

![ezgif-7-1f35550d9661](https://user-images.githubuserc

[2021-02-05 12:20] Johnson444 opened #79 "[FEATURE] Enable Github Discussions"
Hi,

Thanks for the lib. I have some understanding questions about the sensor's and don't want to pollute the issues list.

Would you mind enabling the discussions feature? it's out in beta now.

Thanks!

[2021-02-05 19:49] clauderic commented on #79
Good suggestion, just enabled them!

[2021-02-05 19:49] #79 closed

[2021-02-05 19:51] clauderic commented on #78
Duplicate of #23. Generally I think it's a bit tricky to find a one-size-fits-all strategy for auto-scrolling. I think in the future this should be a bit more extensible, and have either a pointer coordinates based strategy or a strategy that is based on the bounding rect of the dragged element

[2021-02-05 19:51] #78 closed

[2021-02-05 19:53] clauderic commented on #23
@horprogs that's one of the manifestations of the issue, indeed.

On how this could be improved: Generally I think it's a bit tricky to find a one-size-fits-all strategy for auto-scrolling. I think in the future this should be a bit more extensible, and have either a pointer coordinates based strategy or a strategy that is based on the bounding rect of the dragged element

[2021-02-06 11:19] mkharibalaji opened #80 "Any Idea of a Sortable TreeView Feature in future ?"
It's a Awesome library and i would like to know whether there is any idea on a Sortable Treeview using dnd kit ?

[2021-02-06 16:23] pachu4u commented on #74
@clauderic - The example you have is either a draggable or a droppable. I think it works fine in such basic nesting.

The example that I gave really is a bare minimum code. Can this library be used to nest nodes which are both draggable or droppable?

[2021-02-06 22:31] clauderic commented on #80
Actively working on this here https://github.com/clauderic/dnd-kit/pull/76

Still heavily work in progress, have not had time to implement the logic on drop or max depth, but should give you a good idea of how to do it.

https://5fc05e08a4a65d0021ae0bf2-tzokynfxpb.chromatic.com/?path=/story/presets-tree-vertical--basic-setup

[2021-02-06 22:31] #80 closed

[2021-02-07 22:08] reverie commented on #64
@yuri-scarbaci-lenio I think the bug isn't that the container resizes, but that A2-A5 "jump" a little when A1 leaves the container. If you remove the last item from a container, and the container shrinks, there should normally be no need to reposition the remaining items.

[2021-02-09 12:37] hhabakuk opened #83 "onClick handler for DndContext"
Hi!

First of all, thanks for a great library!
I'm struggling with finding a good way to send onClick event to a draggable and sortable item - kind of works  if I remove "onDragStart" prop and use only "onDragMove" to handle dragging but in that case the click needs to be quite precise. Looking for a way to handle clicking with a bit more buffer between click and dragMove.

[Codesandbox](https://c

[2021-02-09 14:21] LuisOsta opened #84 "DragOverlay Not Working With Sortable Context"
**Use Case**
Users need to be able to move squares around specific squares (in a certain order), so I thought that using SortableContext would be both be the simplest solution that would solve my problem. I'd also love to render a 'default state' of sorts when the users are moving the objects (ie a card with a number shows up)

**Problem**
When using drag overlay, instead of staying where the orig

[2021-02-09 14:22] rpivo opened #85 "Trying to update cursor on drag doesn't work on some screens."
Really loving this library so far.
I'm seeing an odd behavior where starting to drag will not trigger `:active` styles or call `onMouseDown` on the draggable.

In the below screenshot, I'm using a DragOverlay on drag, although this issue seems to occur with or without the DragOverlay.

The draggable has a specified CSS width and height, and it doesn't have any contents. The DragOverlay also has th

[2021-02-09 15:06] clauderic commented on #83
Hey @hhabakuk, you can set an [`activationConstraint`](https://docs.dndkit.com/api-documentation/sensors/pointer#activation-constraints) on the Pointer sensor to allow clicks to not be treated as qualified drag start events:

In this example I added a `distance` constraint, but you could also use a `delay` constraint.
https://codesandbox.io/s/test-dnd-kit-forked-qyjw2

[2021-02-09 15:06] #83 closed

[2021-02-09 15:10] clauderic commented on #85
In my experience, the most reliable way to update the cursor is to dynamically update the `cursor` property on the `document.body` and set `pointer-events: none` on the drag overlay.

Something like:

[code]

[2021-02-09 15:10] #85 closed

[2021-02-09 15:19] clauderic commented on #84
Hey @LuisOsta,

I'm not sure I understand the problem. Can you elaborate?

The `<DragOverlay>` component provides a way to render a draggable overlay that is removed from the normal document flow and is positioned relative to the viewport and follows the cursor. This seems to be working as expected in the video you posted above.

As for the sortable items, they move in response to the [collision d

[2021-02-09 15:28] rpivo commented on #85
@clauderic thanks. I tried:

[code]

It looks like I'm still seeing the issue with this, and I can see that the cursor now reverts back to a regular pointer when letting go, so it looks like the `setProperty` to an empty string is working..

I also have these styles on the DragOverlay being passed in elsewhere:

[code]

Setting `cursor: 'grabbing'` on the DragOverlay seems to be helpful, but not o

[2021-02-09 15:31] rpivo commented on #85
Also worth noting that in Choice 2, the issue occurs when clicking directly on the text. Choice 1 has the issue occurring over most of the draggable, except for when I click on a small corner in the bottom right of the draggable.

[2021-02-09 15:35] clauderic commented on #85
Are you able to replicate the issue in the stories here http://examples.dndkit.com/?

Can you share a bit more code or better, a CodeSandbox replicating the issue?

[2021-02-09 15:44] rpivo commented on #85
@clauderic -- actually, it does look like I can replicate similar grab cursor issues in the storybook.

That story works fine on my laptop screen, but the behavior occurs on my external monitor.

![grab3](https://user-images.githubusercontent.com/28677706/107388213-966fac00-6ac3-11eb-854c-e7bfd7f04058.gif)

[2021-02-09 15:46] rpivo commented on #85
@clauderic I'll see if I can sandbox this issue and provide a link here.

[2021-02-09 16:42] rpivo commented on #85
@clauderic here is a simple codesandbox where I can see the problem occur: https://codesandbox.io/s/gracious-fermi-8i25x?file=/src/App.js

On my laptop screen, I am unable to replicate the issue, but on my external monitor, I'm able to see the issue in the sandbox.

Here's what I'm seeing:

![grab4](https://user-images.githubusercontent.com/28677706/107396515-d044b080-6acb-11eb-8205-e49ab06d894c.g

[2021-02-09 17:47] LuisOsta commented on #84
Hey @clauderic ,
Ah I think I misunderstood `<DragOverlay>`, I wanted to display a component in the original slot that the dragged component was in> (like a card with the index)

What would be the best way to achieve that?

[2021-02-10 14:31] ozanarmagan opened #86 "Problem with starting dragging when window scrolled veritcally"
Hey,

I have a problem and I dont know if its bug or not,but when the window is scrolled vertically (or when window.scrolly is not 0 we can say) if you pick up an item to drag it,it does not work properly.

initial:

https://user-images.githubusercontent.com/70442658/107522601-ef733900-6bc4-11eb-801b-b3da1aa1be30.mp4

when you scroll down the window a little bit:

https://user-images.githubusercon

[2021-02-11 06:15] arsantiagolopez commented on #45
Did y'all eventually come up with an example for cloning? This is the most beautiful library, but I need to clone!

[2021-02-11 14:12] rpivo commented on #85
@clauderic it looks like this only happens on my Windows machine, but not on Mac -- it could be some kind of driver issue.

[2021-02-11 21:44] ubeydtalha commented on #86
![photo5850343931236169035](https://user-images.githubusercontent.com/62707118/107702477-5a0e9c80-6ccb-11eb-82e4-6849307fd4a0.jpg)

brooo.

Same problem to ,moreover I used same code in example (copy paste)

[2021-02-12 17:05] rpivo opened #87 "Is there a way to update the class list of a DragOverlay when the DndContext's onDragEnd is fired?"
I currently have this logic below. When a user lets go of the DragOverlay that's being dragged, the `handleDragEnd()` function is called, which calls `setIsDragging(false)`.

Checking this within the DOM, it appears that the child in the DragOverlay's class list doesn't update -- I'm guessing this is because DragOverlay is memoized.

[code]

Is there a recommended way to get DragOverlay or this ch

[2021-02-12 17:14] rpivo commented on #87
Closing since this can be done with a ref to the Child.

[2021-02-12 17:14] #87 closed

[2021-02-13 04:40] apledger opened #88 "Cannot focus inputs inside of draggable items"
Hey @clauderic, love the project and the API. Great work.

We have an application where we are rendering layers in a sortable list that can each open a popup with some inputs. While integrating dnd-kit, I ran into an issue where I couldn't focus any inputs in a portaled popup. I also noticed that I can still drag the popup due to the pointer events being bubbled through the synthetic tree.

We've

[2021-02-15 02:26] clauderic commented on #88
Fixed by rendering the contents of your `SortableItem` within a fragment rather than putting the portal within the sortable element.

https://codesandbox.io/s/dnd-kit-portaled-input-forked-yilzb?file=/src/SortableItem.js

[2021-02-15 02:26] #88 closed

[2021-02-15 03:04] apledger commented on #88
That works, thanks for the response.

What about if there was an input instead of the chip? This solution wouldn't work because the desired UX would be for the input itself to be draggable. Is it possible to only prevent the mousedown default only if the activation constraint was met?

[2021-02-16 12:36] RaGreen opened #89 "Dragging stops on divs borders on mobile"
When you have multiple containers everything works fine on desktop browsers, but on mobile one (tested on Chrome) dragging stops on another div border.

Steps to reproduce:
1) Switch Google Chrome to mobile mode or just open example from link (https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/story/presets-sortable-multiple-containers--vertical-grid
) on your phone.
2) Try to move a

[2021-02-16 12:38] RaGreen commented on #89
![image](https://user-images.githubusercontent.com/1823017/108063793-0e0d8000-705c-11eb-98d1-dc1ad6c06ec9.png)

Example from my jigsaw app - when you drag puzzle on mobile it stops on parent div. You have to grab it again and then everything works.

[2021-02-16 14:57] stlegion opened #90 "How to cancel drag on some child elements of Draggable?"
Hi there! Can you please explain, if it possible to cancel drag, if user initiating drag action from concrete child component(s)?
For example Draggable is:
[code]
And in this case we want to cancel drag, if user trying to drag **div** by grabbing **span** with **id='name'**. Is it possible?

[2021-02-16 18:46] Avizura opened #91 "Infinite scroll when Item's height is greater than viewport"
How to reproduce:
Just just shrink app's view window and try to drag any item here https://codesandbox.io/s/dndkit-sortable-image-grid-forked-d873o

[2021-02-17 15:33] Avizura commented on #91
Figured out that there is `autoScroll` for it. Closing.

[2021-02-17 15:33] #91 closed

[2021-02-17 19:13] Avizura commented on #88
Having same problem

[2021-02-17 20:20] aartrost opened #92 "Expose recomputeLayouts via imperative handle on DndContext"
Hi Claudéric,

First off I'd like to thank you for the amazing work on this library. It's an absolutely massive improvement over anything else out there and it's been a joy to use.

As for my question: I'm working on a sortable list that needs to dynamically move margin based on the position of the dragged item. Kind of like the [margin between items](https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.ch

[2021-02-18 00:50] clauderic commented on #92
Hey @aartrost, if the code where you need to recompute layouts is wrapped within a `<DndContext>` provider in the tree, then as you mentioned, you can use the `useDndContext()` hook to call the `recomputeLayouts` method.

Assuming you need to do this from the outside (for example, in the component that renders the `<DndContext>` component, right now you would not be able to, but it should be a fai

[2021-02-18 01:01] clauderic commented on #90
There are many options. The simplest is to pass the `listeners` to only the elements you want to initiate the drag operation:

[code]

You can also stop propagation of the events, assuming you're using the pointer sensor and you want to prevent it from being activated:

[code]

Finally, you could also customize the activator function of the sensor you're using:

[code]

[2021-02-18 01:01] #90 closed

[2021-02-18 01:06] clauderic commented on #86
Hey @ozanarmagan, can you re-open the issue with a reproduction case in CodeSandbox replicating the issue pleasee.

[2021-02-18 01:06] #86 closed

[2021-02-18 01:07] clauderic commented on #84
Hey @LuisOsta, you can use `<DragOverlay>` and also update the active SortableItem:

[code]

[2021-02-18 01:09] clauderic commented on #84
Hey @LuisOsta, to be honest I'm not really sure I understand your use-case well. Is there something that you could point me to to help me better understand what you're trying to achieve?

[2021-02-18 01:10] clauderic commented on #84
I'm going to close this issue for now as there does not seem to be any issue with the library, but we can continue discussing here.

[2021-02-18 01:10] #84 closed

[2021-02-18 09:50] stlegion commented on #90
Many thanks! Sensor variant really great.

[2021-02-18 11:35] dilizarov opened #93 "Items dragged within a sortable grid are not properly moving according to widths"
https://share.getcloudapp.com/yAu6ymWD

In the above, you'll notice that the calculations seem off. I'm not sure if I'm supposed to be calculating any widths and passing them to the library or if the library should be smartly moving these elements around according to their widths.

The elements are `inline-block` elements.

Also, I noticed that when I leverage `transform: translate3d...` CSS that

[2021-02-18 18:05] aartrost commented on #92
Hi @clauderic!

Thank you for the hint, I was using the `recomputeLayouts` method outside the `<DndContext>` provider. Moving it inside fixed the issue for me. Your quick reply is much appreciated!

I'll leave this issue open as being able to call this from outside the provider tree would likely be helpful for others.

[2021-02-18 19:09] clauderic commented on #93
Your layout is not predictable, so you'll need to follow the same strategy outlined here https://github.com/clauderic/dnd-kit/issues/44#issuecomment-757312037 or here https://github.com/clauderic/dnd-kit/issues/44#issuecomment-757324165

[2021-02-18 19:09] #93 closed

[2021-02-18 20:26] aeroheim opened #94 "DragOverlay resets with incorrect position/styles when scrolling with virtualized lists"
I'm seeing an issue where DragOverlay incorrectly resets its position/styling when scrolling with virtualized lists.

I have a reproducible sandbox here: https://codesandbox.io/s/dnd-kit-portaled-input-forked-clidu?file=/src/App.js

The sandbox uses [react-window](https://www.npmjs.com/package/react-window) which is a fairly popular virtualization library. You should be able to reproduce the issue

[2021-02-18 21:32] WhiteNervosa opened #95 "GitHub Version Packages are not pushed to NPM"
Pardon if this is intentional;

#57 is 1.0.2 but is not pushed to NPM. This could be bypassed and probably still can be by someone who knows more about NPM than I, but other than the core I cannot install @dnd-kit/accessibility@1.0.2, @dnd-kit/modifiers@1.0.2, etc.

The update from #68 would hopefully help towards performance but I am unsure if this is implemented, already, from just the core set

[2021-02-19 01:21] #95 closed

[2021-02-19 03:41] dilizarov commented on #93
Oh cool. Thanks, @clauderic.

I implemented the `onDragOver` and there is only 1 more quirk and I'm curious what might be causing it:

https://share.getcloudapp.com/Qwu92XxX

Basically, sometimes the over element shifts just a tad bit... and doesn't fully swap with the active element while previewing the drag. Towards the end of the video, you'll see that while the swap wasn't fully done on previe

[2021-02-19 03:46] clauderic commented on #93
Did you set the `sortingStrategy` to a no-op?

[code]

[2021-02-19 04:25] dilizarov commented on #93
Aha! I don't think I saw that in your example and thought that `onDragOver` must magically disable or override sorting. Big derp on my part. I think everything works!

I disabled the keyboard sensor because I don't care for it right now, but I did notice something that might either point to some bug in the library or my code.

https://share.getcloudapp.com/yAu60BmX

Essentially it seems like the D

[2021-02-19 07:07] dilizarov commented on #93
@clauderic Discovered another bug. I think `SortableContext` is keeping an internal reference of the items and doesn't update that internal reference even if the items prop passed in changes.

This is important in cases like the below video when I delete tags after rearranging them. You should notice strange behavior.

I provide my quick fix at the bottom (assuming one does not care for animation)

[2021-02-19 15:27] kwiss commented on #43
is the https://github.com/clauderic/dnd-kit/pull/54 usable ? i have the same king of bug after scrolling a long list

[2021-02-20 03:35] aeroheim opened #96 "Inconsistent multi-sort animations with virtualized lists"
When re-ordering multiple items at once with virtualized lists, some of items fail to animate resulting in inconsistent animations.

Reproducible sandbox here: https://codesandbox.io/s/dnd-kit-multi-sort-animation-e8sxk?file=/src/App.js

The sandbox uses [react-window](https://www.npmjs.com/package/react-window) which is a fairly popular virtualization library. It is set to re-order multiple items

[2021-02-20 15:50] Sorgrum opened #97 "Selecting an item in the multiple containers example autoscrolls to the right"
If you resize your browser window to be the smallest width possible, and click on an item to drag (anywhere on the item), the window automatically scroll to the right.

The same behavior happens on mobile

[Example](https://drive.google.com/file/d/1Qp4G804M3RIJAUhZQr9waYnIpthl7Iz9/view?usp=sharing)

[2021-02-20 15:52] clauderic commented on #97
Duplicate of #23

[2021-02-20 15:52] #97 closed

[2021-02-20 18:24] Sorgrum commented on #23
@clauderic Looking the grid example, I wonder if the auto-scrolling is too aggressive. Right now it seems that the page auto-scrolls when the element is brought down past the halfway point of the page. A simple solution might be to only scroll if the element that is being dragged is nearing the edge of the viewport. Any thoughts?

[2021-02-20 22:01] clauderic commented on #96
If i'm understanding the issue you're describing properly, the issue is that your items do not have stable keys. Seems like a small typo in your code, the prop for setting keys on your items is `itemKey`, not `itemKeys` (see https://react-window.now.sh/#/api/FixedSizeList)

<img width="416" alt="Screen Shot 2021-02-20 at 5 00 50 PM" src="https://user-images.githubusercontent.com/1416436/108609640-

[2021-02-20 22:01] #96 closed

[2021-02-20 22:02] clauderic commented on #94
This is indeed an issue, it's related to the use of the `restrictToFirstScrollableAncestor` modifier. As a workaround for now, you can avoid using that modifier until we can find a fix.

[2021-02-21 16:27] sampl opened #98 "Can't delete items from some containers in trashable items demo"
Hi y'all--first of all, I'm _extremely_ excited for this library, I think react drag and drop needs something exactly like this.

Try out the storybook, I couldn't delete some items in the Multiple Containers/Trashable Items demo. Items from the first column seem to work, but items from the others don't.

Mac OS & Chrome. Lmk if I can add more details.

Demo video: https://www.loom.com/share/f02bd

[2021-02-21 16:29] clauderic commented on #98
Duplicate of #43

[2021-02-21 16:29] #98 closed

[2021-02-21 16:31] sampl commented on #98
Whoops didn't realize--thanks for the speedy reply @clauderic  :)

[2021-02-21 16:50] sampl opened #99 "Disappearing draggables in useDraggable example docs tab"
When dragging some of the examples, the draggable item seems to disappear when dragged. It looks like it's going to the very bottom of its parent?

https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/docs/core-draggable-hooks-usedraggable--basic-setup

- It's only in the "docs" tab, not the "canvas" tab
- The first example works fine ("Basic Setup"), only subsequent examples seem to b

[2021-02-22 14:34] dpavicic-ts opened #100 "Dragging an item within a Sortable container resets its ancestor scroll position"
I'm experiencing an issue when using [Sortable preset](https://docs.dndkit.com/presets/sortable) within a scrollable list. I have a scrollable list of items, where each item is a sortable container with sortable elements. If I scroll the list and try to reorder the elements, it resets the scroll position as soon as I start dragging, as you can see below.
![Screen Recording 2021-02-22 at 11 48 07 A

[2021-02-23 14:06] ranbena commented on #88
I'm having a similar issue. My draggable items have an `<input>` inside, which won't be allowed to focus on user click.
@clauderic it could be great if you could add a config to disable this line (perhaps as a `DndContext` prop?).

In the meantime, I did this dirty hack in my code:
[code]

[2021-02-24 14:34] CaninoDev opened #101 "Fix documentation for presets/sortable"
In the documentation for [sortable preset](https://docs.dndkit.com/presets/sortable) the statement

`In this example, we'll use the ref forwarding pattern to avoid introducing wrapper nodes:`

doesn't actually reflect the example provided. Instead the example reflects the inverse of the statement. In another words, the example provided utilizes wrapper nodes.

[2021-02-24 15:07] clauderic commented on #100
This looks like a duplicate of #23

[2021-02-24 15:07] #100 closed

[2021-02-24 15:10] clauderic commented on #101
Did you look at the other tabs that show the code using the ref forwarding pattern?

<img width="789" alt="Screen Shot 2021-02-24 at 10 10 06 AM" src="https://user-images.githubusercontent.com/1416436/109021052-85f52f00-7688-11eb-9e4f-029e47a23773.png">

<img width="789" alt="Screen Shot 2021-02-24 at 10 10 01 AM" src="https://user-images.githubusercontent.com/1416436/109021062-87bef280-7688-11eb-

[2021-02-24 15:10] #101 closed

[2021-02-24 15:34] CaninoDev commented on #101
Maybe I misunderstood.. In `<App />`, `<SortableItem />` and `<Item />` were both used.

[2021-02-26 21:40] Frit opened #104 "Multiple Containers Grid items jump on moving"
Hello, seems like I found an issue with multiple containers, when containers are full dnd-kit tries to extend draggable area but when user tries to move item out of dnd areas everything jump(see gif).
I just played around with your examples on storybook and found it here:
https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/story/presets-sortable-multiple-containers--grid

![Feb-27-202

[2021-02-27 11:33] oliverfindl opened #105 "DragOverlay - Cannot read property 'then' of undefined"
Hello,

I was trying to fiddle with this package and followed instructions for [Sortable example](https://docs.dndkit.com/presets/sortable). At [final step](https://docs.dndkit.com/presets/sortable#drag-overlay), after adding `DragOverlay` it crashes.

![image](https://user-images.githubusercontent.com/33978096/109389903-d4b3fa80-790e-11eb-8a7d-37cd0a6fc08a.png)

After removing `DragOverlay` it wo

[2021-02-27 14:25] ranbena commented on #105
@oliverfindl a few questions:
1. Do the [Storybook Sortable Examples](https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/story/presets-sortable-vertical--basic-setup) generate the same error for you?
  If not, the reason for the error might be in the way you implemented it. Perhaps share a reproducible code example.

2. What browser version are you testing with? Some do not support [

[2021-02-27 14:56] oliverfindl commented on #105
Hello,

Storybook example is also broken for me.

I'm using opera 68.0.3618.173 (latest version in repo of my OS, but not latest version of Opera) that should be equivalent to Chrome 81.0.4044.138. Just tested in newest Chrome and Firefox, and its working there. According [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Animation/finished#browser_compatibility) and [CIU](https://caniuse.com/

[2021-02-27 14:56] #105 closed

[2021-02-28 13:18] ranbena opened #109 "Flickering drag containers in Trashable story"
When dragging away from the trash droppable, a flickering occurs that eventually freezes the browser tab.

https://user-images.githubusercontent.com/486954/109419827-18bf0200-79d8-11eb-8fce-ee2ca054bd1d.mov

[2021-02-28 16:32] #109 closed

[2021-02-28 19:07] ranbena commented on #104
If I understand correctly, as `C3` is dragged to the bottom left of it's container, the collision detector determines that `C1` is closest, therefore `C1` is dropped a row for `C3` to take it's place - but since `C3` is too far away to skip over from `C` to `B`, it stays in place, causing `C1` to return to it's original position, creating an infinite jumping loop.

Perhaps the collision detector i

[2021-02-28 22:09] Frit commented on #104
@ranbena yes looks like that, also it reproduces on "Trashable Items"
As you can see at the end of the gif a tab starts to freeze(lags) because of overload, if user holds item too long tab will stop to respond at all.
![test2](https://user-images.githubusercontent.com/7198193/109435280-c824c480-7a2a-11eb-9947-2f8e6d2891c2.gif)

[2021-03-02 14:49] sampl opened #112 "Missing id prop for Droppable in Quick Start guide"
The ["Pushing things a bit further" example](https://docs.dndkit.com/introduction/getting-started#pushing-things-a-bit-further) in the Quick Start implies that you can reuse the `Droppable.jsx` file from the [previous example](https://docs.dndkit.com/introduction/getting-started#assembling-all-the-pieces). However that file doesn't work because it has a hard-coded id of "droppable".

Instead, I th

[2021-03-02 15:08] sampl opened #113 "closestCenter imported incorrectly in docs"
[The "Collision detection algorithm" docs](https://docs.dndkit.com/presets/sortable#collision-detection-algorithm) show `closestCenter` being imported from `@dnd-kit/sortable`:

<img width="760" alt="Screen Shot 2021-03-02 at 10 04 38 AM" src="https://user-images.githubusercontent.com/231851/109668025-bd5b5400-7b3e-11eb-8ca2-b6f77617a666.png">

But that causes an import error:

<img width="449" al

[2021-03-02 16:03] sampl opened #114 "Possible to combine sortables?"
I'm trying to use dnd-kit on a board where cards can be reordered _and_ combined, similar to [this example](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/guides/combining.md) from `react-beautiful-dnd`.

Is this possible to do using the current `@dnd-kit/sortable` package? I can probably do it with `@dnd-kit/core` but I assume I'd miss out on things like keyboard sorting and so

[2021-03-02 16:39] Simba14 commented on #23
Having similar issues but with on drag instantly scrolling to the top in a scrollable container.
Any workarounds?

[2021-03-02 17:50] sampl opened #115 "Sortable items jump in flexbox container"
https://www.loom.com/share/371fae83e98046ed98d4fffe277d27a2

From what I can tell, any items that should change "columns" during drag have a correct `y` position, but keep their old `x` position until the drag ends.

Parent div styles:

[code]

I would be using grid layout, but [it doesn't seem to support this layout](https://stackoverflow.com/a/44092580/1061063).

(FWIW I got here via [this issue

[2021-03-03 02:51] airtable-JayRansijn opened #116 "TypeScript error for `/@dnd-kit/utilities`"
I am getting the following issue in our TypeScript check:

[code]

I will be investigating more, but thought I share here as well.

[2021-03-03 14:09] clauderic commented on #116
What version of TypeScript are you using?

[2021-03-03 14:11] clauderic commented on #115
What [sorting strategy](https://docs.dndkit.com/presets/sortable#sorting-strategies) are you using? Do share a codesandbox if you can.

[2021-03-03 14:11] sampl commented on #115
@clauderic was just about to comment--I worked on a sandbox but was unable to reproduce

https://codesandbox.io/s/dndkit-sortable-image-grid-forked-yt4rv

Sorry for the bother--will circle back if I find something later

[2021-03-03 14:13] sampl commented on #115
Ok, looks like it happens with `verticalListSortingStrategy` but not `rectSortingStrategy`. Thanks for the tip, I've got at least a temporary fix :)

[2021-03-03 14:24] clauderic commented on #114
This should be possible yes, you'll need to put in a bit of work though.

Say you were building a vertical list, I'd start by forking the [`verticalListSortingStrategy`](https://github.com/clauderic/dnd-kit/blob/master/packages/sortable/src/strategies/verticalListSorting.ts) and updating the threshold after which a node should shift positions.

You'd also need to update the `onDragEnd` handler to

[2021-03-03 14:25] clauderic commented on #115
That's an intentional limitation, as its name implies, `verticalListSortingStrategy` is optimized to only support single column vertical lists.

Your layout is a grid so you indeed need to use `rectSortingStrategy`.

[2021-03-03 14:25] #115 closed

[2021-03-03 14:28] clauderic commented on #113
Updated, thanks!

[2021-03-03 14:28] #113 closed

[2021-03-03 14:30] clauderic commented on #112
Updated, thanks for pointing this out!

[2021-03-03 14:30] #112 closed

[2021-03-03 14:31] sampl commented on #115
Fair enough, thanks @clauderic

[2021-03-03 16:23] sampl opened #117 "Variable sized sortables stretched when dragged"
Hi @clauderic, sorry for the onslaught of issues this week :)

I have sortables with various heights getting stretched during drag. It looks like the size is being based on the size of the previous item in that position or something else, rather than the item's size?

https://www.loom.com/share/6013cf18e6b44fa2ad3e60826d57f814

Unlike the [rectSortingStrategy various sizes demo](https://5fc05e08a4

[2021-03-03 16:41] clauderic commented on #117
The items are stretched because you're using `CSS.Transform.toString()`, use `CSS.Translate.toString()` if you don't want to have the scale transformation applied.

In the example you've provided, the layout of your items is not predictable, therefore you won't be able to use any of the built-in sorting strategies, you'd need to build one yourself for that use-case (refer to https://github.com/cla

[2021-03-03 16:41] #117 closed

[2021-03-03 17:45] sampl commented on #117
Good to know, thanks for the clarification @clauderic

Based on [this comment](https://github.com/clauderic/dnd-kit/issues/44#issuecomment-757222539) it sounds like you already plan to update the docs--I think that definitely would have helped set me straight.

Thank you! Looks good to me, I'll try this and see how it goes.

[2021-03-03 19:17] airtable-JayRansijn commented on #116
We are at `4.1.3`. I am about to try to patch-package and maybe split up the args [in types](https://github.com/clauderic/dnd-kit/blob/ae212fe3e756213d51edb2ba6c3a75869856d535/packages/core/src/modifiers/types.ts#L4-L13) into a separate type:

[code]

This might be a long shot, but one of my co-workers is mentioning there was an issue with `Array.isArray` with 4.1.2/4.1.3: https://github.com/micro

[2021-03-03 23:09] airtable-JayRansijn commented on #116
This seems to work for us as well, and is the patch we are likely picking to avoid patching both packages:
[code]

[2021-03-04 08:19] Aarbel opened #119 "Maintance"
@clauderic Will this repo will be poorly maintained  ?

Like your repos :
- https://github.com/clauderic/react-infinite-calendar
- https://github.com/clauderic/react-sortable-hoc

Or do you plan to ask Shopify to help you maintain your open source libraries ?
Or will you help other developers to have the rights to maintain your libraries as well ?

Thanks a lot anyway for your work

[2021-03-04 09:51] spyshower commented on #119
That's a bold thing to say. Reminds me of myself :P

Nevertheless, I would like to know the author's thoughts as well.

[2021-03-04 12:40] sampl commented on #119
I share your concern about maintenance, but I want to come to the creator’s defense a bit here.

This is an open source project that I’m sure required a ton of work to build, and it has been offered to you completely free.

If you want to encourage upkeep, you could consider [becoming a sponsor](https://github.com/sponsors/clauderic).

[2021-03-04 14:19] Aarbel commented on #119
@sampl i'll sure be a sponsor if the repo contributions administration is managed by more than two developers.

[2021-03-04 14:25] Aarbel commented on #119
I think it's a big problem today on github. A lot of repos with a lot of stars are not maintained, and it's hard for forks to get the same attention / community / stars. It's completely impossible to get ownership of a project if it's not maintained.

[2021-03-04 18:37] clauderic commented on #116
I personally can't replicate, though haven't tried on that specific version of TypeScript. Do you want to open a pull request?

[2021-03-04 22:08] imwillhang commented on #49
Hey @ruben00001, how'd you figure this one out?

[2021-03-04 22:55] imwillhang commented on #88
Thanks so much @ranbena, this is hugely helpful.

@clauderic please please please add this! Without it, anything inside of a draggable item is basically useless.

[2021-03-05 12:13] ranbena commented on #49
Shouldn't be a problem as long as the Sortable and the Droppable are both nested within the same DndContext.

[2021-03-05 13:23] ohayojp commented on #23
I don't know if this is related to this issue but when you try to scroll with dragged element without DragOverlay element position won't be updated for the scroll duration. You can see it here: https://5fc05e08a4a65d0021ae0bf2-vfebfgjygq.chromatic.com/?path=/docs/presets-sortable-grid--without-drag-overlay

Drag element and try to scroll the page with it. Result: mouse position and element positio

[2021-03-05 18:18] airtable-JayRansijn commented on #116
Afaict, `FirstArgument` is only used in this one place. One option is to remove it altogether and split up the modifiers args type. Or if you want to keep `FirstArgument` around for something else I can make the change described above.

[2021-03-05 23:35] junqdu opened #120 "Support for multi-select and drag?"
Trying to implement a grid view and drag multiple items at the same time. But it seems like dnd-kit only support the grid view but not selecting multiple items.

[2021-03-07 02:24] clauderic commented on #120
You can refer to https://github.com/clauderic/dnd-kit/pull/13 for a general idea of how to implement this, but there are no immediate plans for multi-select to be available out of the box, this is something that consumers can fairly easily implement on top of dnd-kit.

[2021-03-07 02:24] #120 closed

[2021-03-08 23:26] junqdu commented on #120
@clauderic Thanks!

[2021-03-09 05:49] mazimazur opened #121 "dnd-sortable not working with objects instead of array values"
Tested sortable with objects as items and not working anymore:

const [items, setItems] = useState([{ id: "1" }, { id: "2" }, { id: "3" }])

[2021-03-09 06:39] ranbena commented on #121
Looking at the code and versions, it seems `<SortableContext>` only accepted a string array from day one.

[2021-03-09 07:07] mazimazur commented on #121
ok, thank you, will this stay like that or if needed with objects it's up to me to extend it?

[2021-03-09 09:29] ranbena commented on #121
Personally I like it bc it keeps the consumer code a bit cleaner. @clauderic wdyt?

Itmt @mazimazur, all you gotta do is:
[code]

[2021-03-09 12:39] el-dav opened #122 "DragOverlay cursor offset"
Hi, first of all thanks for a great library. I was hoping someone could point me in the right direction.

I'm looking at a situation using DragOverlay where the Overlay is a different size to the draggable as seen in this codesandbox: https://codesandbox.io/s/damp-smoke-wnu7y?file=/src/App.js

When you begin dragging the DragOverlay's initial position is the top-left of the original draggable elem

[2021-03-09 13:40] mazimazur commented on #121
big hug for that! works like a charm :-) thx a lot!

[2021-03-09 13:40] #121 closed

[2021-03-09 20:54] fikrikarim commented on #122
I have this exact use case and I haven't found any clean and working solution without tweaking the internal library.

I'm interested if there's an easy way to implement this.

[2021-03-10 15:39] Aarbel commented on #119
@clauderic adding this on your repos would be great (i addition to accept other maintainers):

![image](https://user-images.githubusercontent.com/25119847/110655300-3867de80-81bf-11eb-8a7a-c2b64c8722c0.png)

[2021-03-10 19:28] dancixx opened #124 "Nested sortable grid?"
Hi guys, can i use dnd-kit for nested sortable grid?
I need something like this https://5fc05e08a4a65d0021ae0bf2-nlpqzbyoil.chromatic.com/?path=/docs/presets-sortable-multiple-containers--vertical-grid, but i should be able to change the wrapper container too?

Thx for answer. :)

[2021-03-10 19:38] willadamskeane commented on #23
I'm running into this issue as well - has anyone found an interim workaround?

[2021-03-10 19:50] jarredwitt commented on #39
Apologize for reviving a closed issue, but wanted to share my attempt at accomplishing this since I struggled to find an exact example. Here's a GIF of a rows, columns and item demo I made that I think accomplishes the nested scenario that @fedotxxl mentions above. Put some locks in place to try and make the UI behave - only columns can be added to rows.

![2021-03-10 11 41 58](https://user-images

[2021-03-11 00:22] migueloller opened #125 "Race condition with `useDraggable` and `useDroppable` register / un-register effects"
We were implementing a file tree navigation component using dnd-kit and ran into an issue that happens when sorting folders. The UI component looks something like this:

![image](https://user-images.githubusercontent.com/5677929/110716250-c8645300-81d4-11eb-9ef3-a191a99ea901.png)

You can drag folders around to drop them inside other folders. The issue happens when doing one of these sort operatio

[2021-03-11 04:03] clauderic commented on #122
This seems like a fairly common use-case, if you're willing to open a PR, it should just be a matter of exposing the `activatorEvent` to modifiers.

Having said that, not all activator events will have screen coordinates – for example, if the activator is the keyboard sensor, you won't have any coordinates to go off of – but I think that's an okay limitation given this use-case.

[2021-03-11 04:04] clauderic commented on #125
Could you share a video or a sandbox replicating the issues you've encountered? Just want to make sure I'm understanding everything correctly before jumping to conclusions.

[2021-03-11 04:06] clauderic commented on #116
Hey @airtable-JayRansijn, I don't think `FirstArgument` is used anywhere else in the codebase so no strong opinions either way. Do feel free to open a PR if this is blocking you though.

[2021-03-11 04:06] clauderic commented on #99
Very odd, will investigate.

[2021-03-11 10:34] mihainsto opened #126 "Help - Documentation - Sortable grid reordering"
Hi, I am following the documentation and the result isn't the expected one, I implemented almost exactly the code from this example
https://docs.dndkit.com/presets/sortable#drag-overlay

And I have multiple problems, the reordering looks odd, all the items move in all the places, and the element that I am dragging is showing twice.

Here is the sandbox with the issue:
https://codesandbox.io/s/dnd-

[2021-03-11 11:16] ranbena commented on #126
That's because you're using the `index` as the SortableItem key value instead of `item`. Change to this:
[code]

One is the original item, the other is the dragged item. You can use different styling on the original item when dragging.
Here's an example to make it translucent upon dragging:
[code]

[2021-03-11 11:28] mihainsto commented on #126
Thank you, here is the updated sandbox in case there are other people with this issue:
https://codesandbox.io/s/dnd-kit-grid-problem-fixed-14hse?file=/src/App.js

[2021-03-11 11:28] #126 closed

[2021-03-11 16:12] jarredwitt commented on #124
@dancixx I've been searching for something similar and saw #39. Here's my attempt - https://codesandbox.io/s/dnd-kit-nested-containers-kvdgn?file=/src/app.js. It's based around rows, columns and items. Hopefully it helps.

[2021-03-11 22:28] jamesopti opened #127 "Provide mouse position to collision detection algorithm"
First off just wanted to say thanks for building this! Loving it so far and I've barely got it working.

My goal is to implement a version of `useSortable` that also allows dropping something _inside_ another target.

I'm still working on this, but I believe in order to do so, I need to use a collision detection algorithm that takes into account the position of the cursor inside the dragging item

[2021-03-12 00:02] jamesopti commented on #127
UPDATE: I realized this is as simple as keeping track of mousemove and using that to determine if the current mouse position is over a given rect.

[code]

[2021-03-12 03:15] clauderic commented on #127
This sounds very similar to https://github.com/clauderic/dnd-kit/issues/114 and https://github.com/clauderic/dnd-kit/issues/122.

If you get this working, please share back your finding in those issues 🙏

[2021-03-12 03:15] #127 closed

[2021-03-12 06:51] ohayojp opened #128 "SortableContext scrolling issues"
I found two issues when using SortableContext and small viewport/container:
1) For small items near edges of scrolling container right after grabbing drag handle container will scroll up or down automatically making it very hard to to sort.
2) For bigger items (like row C in the example below) even if they are fully visible dragging will cause other items to jump up and down until item is moved aw

[2021-03-12 06:56] jamesopti opened #129 "DragOverlay drop animation final destination"
When using the `<DragOverlay />` component, I'd like to be able to control the `x,y` position that the overlay returns to _while_ the finishing dropAnimation is in progress.

Right now, it seems to return back to it's original position.

For some drop zones, I'd prefer it stay in the same position and just change size (e.g. trashing an item transitions its scale to 0 around the transformOrigin).

[2021-03-12 22:38] leon-marzahn commented on #59
This would be cool to have!

[2021-03-13 02:28] MoSheikh opened #130 "Adding scaling animation to currently dragging item"
Hi, firstly thank you for the great library.

I was wondering if you have any prescribed method of adding scaling animations to an element while being dragged. The `:active` css selector has been great for the other stylings, but since transformation stylings conflict with the internal stylings for the drag itself, I was wondering if it's possible for me to implement this as well in some other way

[2021-03-13 14:33] MoSheikh commented on #130
I took a closer look at the examples and see that you already provided an example for this. I added a wrapper styled component to act as the draggable component and applied scaling to the actual component inside. Sorry for raising this unnecessarily.

[2021-03-13 14:33] #130 closed

[2021-03-14 12:26] el-dav commented on #122
That makes sense. It would allow me to adjust the transform based on the relative cursor position to the activated draggable.

I've just started to look at the library internals now. One issue seems to be that I can't see a way to adjust the width/height of the collisionRect using a modifier. It seems like transform only supports x and y. (in addition to scaleX and scale Y, but I've not figured ou

[2021-03-15 15:21] clauderic commented on #129
Allowing consumers to be able to pass in custom drop animations to `DragOverlay` is a planned feature, but isn't possible at the moment.

If you want to get started yourself on this, you can start by looking at [`useDropAnimation`](https://github.com/clauderic/dnd-kit/blob/master/packages/core/src/components/DragOverlay/hooks/useDropAnimation.ts#L24)

[2021-03-16 00:07] clauderic commented on #119
Hey @Aarbel, I do intend this repository to be well maintained. Thanks for your suggestions, I'll consider adding a maintainers table to my repositories when I get the chance.

[2021-03-16 00:07] #119 closed

[2021-03-16 01:37] clauderic commented on #128
Duplicate of #23

[2021-03-16 01:37] #128 closed

[2021-03-17 18:17] siarheikarabko opened #137 "Multiple sortable items are skipped when a keyboard is used to sort vertical lists."
It seems that the default `sortableKeyboardCoordinates` coordinateGetter for `KeyboardSensor` is not working properly when items in a vertical sortable list have different heights. The issue could be reproduced using this [story](https://5fc05e08a4a65d0021ae0bf2-hpzhnxmhfg.chromatic.com/?path=/story/presets-sortable-vertical--variable-heights). To reproduce: try to sort an item using a keyboard, e

[2021-03-18 06:07] jaymathew opened #139 "Is it possible to add more data about the draggable in DragStartEvent?"
Hey, Thanks so much for this library.

Is it possible to add more data into the DragStartEvent? I know you can see the id currently. I would need to filter through an extensive list to find the object I need, and using an index as the id wouldn't work as I render two arrays in one DndContext.

Thank you,

[2021-03-19 04:47] junqdu opened #141 "Is it possible to have custom placeholder when sorting items?"
Desired behavior:
![](https://user-images.githubusercontent.com/4250728/111679039-2220da80-87de-11eb-9696-ff1bd86a1fe8.png)

Codesandbox:
https://codesandbox.io/s/grid-view-multi-select-poc-3gpug?file=/src/Selectable.tsx

Current:
![Screen Shot 2021-03-18 at 8 26 51 PM (2)](https://user-images.githubusercontent.com/4250728/111732739-77d3a200-8833-11eb-8b73-ecad507e02e5.png)

@clauderic it seems li

[2021-03-19 09:08] salali commented on #139
Would it be possible for the useDroppable `data` property to be passed to the `DndContext` event handlers?

interface UseDroppableArguments {
  id: string;
  disabled?: boolean;
  data?: Record<string, any>; // Add this property to the event.active object?
}

[2021-03-19 09:25] salali commented on #65
I'd be interested in this as well. I've tried using nested `DnDContext` to handle the different draggable types - The problem I found was that draggables from one context cannot be dropped into droppables in a different context. From the docs `useDroppable and useDraggable hooks will only have access to the other draggable and droppable nodes within that context.`

The event handlers only expose t

[2021-03-19 22:18] clauderic commented on #139
Adding `data` to draggable items and exposing `data` of the `over` droppable in handlers is planned, just haven't had time to get around to it.

@salali if you want to get started working on a PR with that change I'd gladly work with you to get it done.

[2021-03-20 08:58] ranbena commented on #141
@junqdu there is no actual placeholder, but the dragged sortable item can made to look like a placeholder utilizing a few props. The example you provided already applies `opacity: 0.5` styling to the placeholder in `Item.module.scss` line 88, and so you can modify it to get your desired effect.

So to make the placeholder be a solid colored box with no content:
[code]

[Here's a modified sandbox e

[2021-03-20 16:13] #124 closed

[2021-03-20 22:38] clauderic commented on #141
Hey @junqdu, you can check out this PR which implements an example of what I think you're trying to achieve looking at your screenshot https://github.com/clauderic/dnd-kit/pull/142

See https://5fc05e08a4a65d0021ae0bf2-drkgzfesgk.chromatic.com/?path=/story/examples-advanced-pages--pages

[2021-03-20 22:38] #141 closed

[2021-03-21 08:08] cusxio opened #143 "does `useSortable` support different draggable types?"
It isn't entirely clear from the Docs, but currently in [`Multiple Containers - Basic Setup`](https://5fc05e08a4a65d0021ae0bf2-ozsuihnmxx.chromatic.com/?path=/story/presets-sortable-multiple-containers--basic-setup) is it also possible to sort the droppable(container) as well? Thereby achieving a Kanban like app?

---

I'm wondering if it's possible to use `dnd-kit` to replicate [this](https://rea

[2021-03-21 12:45] clauderic commented on #143
As for your first question,you can nest multiple levels of `<DndContext>` providers. To make the columns also sortable, all that is needed is also wrapping the columns in a second `<DndContext>` provider and `<SortableContext>`. I've been planning to add this functionality to the stories, just have not gotten around to it yet.

As for combining items, this is _possible_ but you will have to put in

[2021-03-21 12:45] #143 closed

[2021-03-21 13:39] clauderic commented on #23
I'm working on a fix to these issues here: #140

[2021-03-21 13:55] #99 closed

[2021-03-22 01:14] EdmundsEcho opened #145 "Question before migrating :)"
This library looks absolutely great.  Nice work.

I'm eager to find a new solution.  My data is in the form of a tree.  Each layer of the tree specifies a droppabal/draggable pair.  The depth of the tree is 5 (in other words, I'm not expecting more than 10 layers ever).

The flat version of the state is:
[code]

The leaf nodes have the items of interest.  The nodes to that point are just ways to g

[2021-03-22 02:20] clauderic commented on #145
Hey @EdmundsEcho, what type of interface are you building? Looking at your data structure, it sounds like you're building a sortable tree. If so, you can take a look at this story which should give you a general idea of how to flatten your data structure to make it work with `@dnd-kit` https://github.com/clauderic/dnd-kit/pull/76

[2021-03-22 02:20] #145 closed

[2021-03-22 09:17] cusxio commented on #143
Noted and thank you!

[2021-03-22 17:48] Nayeemuddin-khan opened #147 "Drag and Drop not working when screen reader is on"
I am using dnd-kit library and overall I am really impressed with it.  :)
But facing issue when trying using drag and drop for my components when screen reader is on.
Tested the same on the library given examples (storybook) and found the same behavior (drag and drop not supported when screen reader is on).
Tried searching a work around for this but didn't find anything.

_version using: 1.0.2_

[2021-03-22 18:36] clauderic commented on #147
@Nayeemuddin-khan what screen reader are you using? Are there any errors in the console? Could you share a video?

[2021-03-22 18:59] Nayeemuddin-khan commented on #147
@clauderic  I am using Mac voice over and windows screen narrator.
No errors in console.

https://user-images.githubusercontent.com/39629476/112043519-bfe61380-8b16-11eb-91d6-314bfbb70709.mov

[2021-03-22 20:33] clauderic commented on #147
@Nayeemuddin-khan to be clear, you are pressing the up / down arrow keys to move the item and nothing is happening?

Can you record your video with [KeyCastr](https://github.com/keycastr/keycastr) running so I can see what keys are being pressed?

[2021-03-23 02:02] smurfs2549 opened #148 "Grid sort: the sortable box redraw when the box picked up"
For grid sort, I have 2x large box and 1x small box in the grid. All the boxes redraw when the sortable box picked up. The react-sortable-hoc package only sort and redraw when handleDragEnd.
Sometimes, the box will blinking when drag over.

The screenshot:
https://user-images.githubusercontent.com/8286468/112081091-10647c00-8bbe-11eb-9421-e1e4954a44da.mp4
Code:
https://codesandbox.io/s/dndkit-sort

[2021-03-23 20:48] Nayeemuddin-khan commented on #147
@clauderic  Yes I am pressing up and down arrow key to move item.
Tried using KeyCastr but the up and down arrow are not been captured in that when voice over is on.

_Note: The up and down arrow worked when dragging and dropping with our screen reader is on. The issue is reproducible when voice over is on and trying to use key board arrows to drag and drop._

[2021-03-24 04:34] clauderic commented on #148
This is by design. By default, `DndContext` only measures droppable elements just-in-time right after dragging starts.

If you want to customize this behaviour, you can use the newly introduced `layoutMeasuring` prop of `DndContext` to measure nodes before dragging begins instead, which is available as of version `1.0.2` of `@dnd-kit/core`:

[code]

[2021-03-24 04:34] #148 closed

[2021-03-24 07:13] smurfs2549 commented on #148
If I use version 1.0.2 of @dnd-kit/core, the LayoutMeasuringStrategy.BeforeDragging is undefind. When I upgrade to 1.2.0 of @dnd-kit/core, the page will not throw an undefind error.

After added 'layoutMeasuring', I can't drag sort any more.
https://codesandbox.io/s/dndkit-sortable-image-grid-forked-j7ent?file=/src/App.jsx

[2021-03-24 13:18] clauderic commented on #148
Remove the dependency `@dnd-kit/modifiers` in your sandbox. It is causing two versions of `@dnd-kit/core` to be used at the same time

[2021-03-24 13:47] clauderic commented on #148
The issue is fixed if you upgrade `@dnd-kit/modifiers` to `^1.0.3`: https://codesandbox.io/s/dndkit-sortable-image-grid-forked-dz7ox

[2021-03-24 15:04] #116 closed

[2021-03-24 16:51] norbertas-gaulia commented on #139
That would be great addition.
Is there any way to get any info about draggable currently? If i want to switch css class based on who is over? Thanks

[2021-03-24 17:05] andreicorpo opened #158 "Drag animation not working"
Hi, I am new to this library and it looks pretty cool, great job!

But it appears the animation for dragging items in a sortable list is not visible when using `@dnd-kit/scrolable: 1.0.2 or 1.1.0`.

E.g:  https://codesandbox.io/s/dreamy-bhaskara-pb9sn

It is working though with with `@dnd-kit/scrolable: 1.0.1`.

E.g: https://codesandbox.io/s/recursing-greider-je2q6

Let me know if you need more in

[2021-03-24 17:20] clauderic commented on #158
There's an issue with the `@dnd-kit/modifiers` package, upgrade to version `^1.0.3` or higher https://codesandbox.io/s/sleepy-shaw-7y47n?file=/src/App.js

[2021-03-24 17:20] #158 closed

[2021-03-24 17:39] clauderic commented on #139
@norbertas-gaulia you can already get info about the current draggable and what droppable it is over in what is returned by `useDraggable()` and `useDroppable` or in the `onDragOver` callbacks of `DndContext`.

This is documented in the [Quick start guide](https://docs.dndkit.com/introduction/getting-started) along with the docs for [`useDraggable`](https://docs.dndkit.com/api-documentation/dragga

[2021-03-24 19:50] norbertas-gaulia commented on #139
Correct, i missed `over` prop from `useDroppable `. Thanks.

[2021-03-24 21:40] clauderic commented on #158
Turns out this was actually an issue in CodeSandbox 😅   https://github.com/codesandbox/codesandbox-client/pull/5609

[2021-03-24 21:40] clauderic commented on #148
Turns out this was actually an issue in CodeSandbox 😅
https://github.com/codesandbox/codesandbox-client/pull/5609

[2021-03-24 22:29] clauderic commented on #139
[code]

[2021-03-25 01:03] #23 closed

[2021-03-25 02:16] smurfs2549 commented on #148
The boxes still redraw now, the react-sortable-hoc only redraw after sort end. Like the screenshot.
 @dnd-kit:
https://user-images.githubusercontent.com/8286468/112408109-2acf5e80-8d52-11eb-8759-c41db60e0493.mp4

react-sortable-hoc:
code: https://codesandbox.io/s/8y7n1r9y5j
https://user-images.githubusercontent.com/8286468/112408552-f7d99a80-8d52-11eb-81b8-5d910d701919.mp4

[2021-03-25 02:41] clauderic commented on #148
This is most likely because you are moving items in `onSortOver` instead of only `onSortEnd`.

The layout of your grid is not predictable therefore you have to move items in the DOM to know what their next layout will be so you can smoothly transition to that new position using the FLIP technique.

There really is no magic solution here.

You need to make the layout of your grid predictable so tha

[2021-03-25 03:24] smurfs2549 commented on #148
yah, if U moving items in onDragEnd, the layout of the grid will no longer indicate where they will be placed. I want to make the grid can be predicted and don't want redraw while dragging.

[2021-03-25 10:29] andreicorpo commented on #89
I am facing this issue too.

When using mobile mode in chrome or using a phone, I have to drag the element twice before it moves correctly.

Eg:
![mobile](https://user-images.githubusercontent.com/12585256/112458534-92db7000-8d65-11eb-8c61-4beb7c6df47b.gif)
![browser](https://user-images.githubusercontent.com/12585256/112458642-aab2f400-8d65-11eb-9ecf-2fa7eda291e9.gif)

[2021-03-25 12:35] clauderic commented on #148
That's not possible with the built-in sorting strategies if `@dnd-kit/sortable`, they only work with layouts that are predictable.

You can try to build a custom sorting strategy strategy yourself to calculate the transforms needed to support your layout.

This is the only solution if you don't make your layout predictable and don't want to move items in `onDragOver`

[2021-03-25 12:42] clauderic commented on #89
Please share a CodeSandbox replicating the issue

[2021-03-25 13:27] clauderic commented on #148
You can see the issue in this sandbox https://codesandbox.io/s/dndkit-sortable-image-grid-forked-t6393?file=/src/App.jsx

If you pass one of the built in sorting strategies (in this case, `rectSortingStrategy`) to SortableContext, since your layout is not predictable, the items shift position between the preview while dragging and where they end up on drop.

This is because the library is not able

[2021-03-25 22:08] faroukfaiz10 commented on #89
@andreicorpo Most often than not, it's the missing touchAction css property on draggable elements ([More info](https://docs.dndkit.com/api-documentation/sensors/touch#recommendations))

For testing, have a look at this [minimal sandbox](https://codesandbox.io/s/dnd-kit-sortable-vzx2s?file=/src/SortableItem.jsx) based on [this tutorial](https://docs.dndkit.com/presets/sortable#drag-overlay)
You can

[2021-03-26 06:17] smurfs2549 commented on #148
But how the react-sortable-hoc grid can be predicted and not redraw while draggling?

[2021-03-26 13:56] roeycohen opened #162 "CollisionDetectionStrategy - add draggable id"
Hi!

on my scenario, not all draggables suits all droppables (working on a sortable tree, when parents can't be dragged into children).

It would be nice to add the dragged element id to the "customCollisionDetectionStrategy" function.
currently it exists only for "rects" parameter but not in "rect.
(see https://docs.dndkit.com/api-documentation/context-provider/collision-detection-algorithms#cust

[2021-03-26 14:06] shayc opened #163 "'AutoScrollActivator' is not exported from '@dnd-kit/core'."
Hey @clauderic, thank you for your wonderful `dnd-kit`!

I've upgraded to v2.0 but get this error while trying to import:
![image](https://user-images.githubusercontent.com/6969966/112643531-82a2be00-8e55-11eb-90a8-18913354adfe.png)

This is my import statement:
[code]

Am I doing anything wrong?

[2021-03-26 14:10] clauderic commented on #163
Looks like I forgot to export it 😬

[2021-03-26 14:37] shayc commented on #163
Happens to the best of us! Just wanted to share that we're experimenting with `dnd-kit` on [Cboard](https://github.com/cboard-org/cboard). Thanks for the hard work!

[2021-03-26 14:38] #163 closed

[2021-03-26 18:09] roeycohen commented on #162
Of course it's possible to get the moving draggable id with onDragStart event, but it still can be a nice addition :)

[2021-03-26 20:35] shayc commented on #163
@clauderic after trying the `2.0.1` version, `AutoScrollActivator` was still not exported.
I've made a PR #166 that fixes this by omitting the `type` keyword from the export.

[2021-03-26 20:54] junqdu commented on #141
@clauderic thank you for the help!

[2021-03-29 22:52] lonk opened #172 "Sortable - onClick event fired when moving a SortableItem to a lower index"
Hi !

I'm facing an issue using sortable: when I'm moving a SortableItem from right to left, the onClick event is fired along the onDragEnd event. This isn't happing if I'm moving my item to the right.

Here is the simple sample of code I'm using:
[code]

And here is a video of what's happening:
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/2729398/112909698-3cb65600-90f2-11

[2021-03-30 00:30] clauderic commented on #162
As mentioned by @roeycohen, this can be achieved fairly easily if you keep track of the active `id` in `onDragStart`.

Something like:

[code]

Considering there is a fairly straightforward workaround, no plans to work on this in the near future, but feel free to open a PR.

[2021-03-30 05:19] Shaddix opened #173 "Is it possible to access `onDragEnd` in droppable region?"
My scenario is that whole app is wrapped into `DndContext`, and there's a list of items that could either be:
- sorted within that list
- dragged to a Calendar, where every day is a Droppable region

So, as in react-dnd, I'd like to have an ability to have an `onDragEnd` handler in `useDroppable` hook, so that each Calendar cell could know & handle the item that is dropped there. It seems that now

[2021-03-30 06:52] #162 closed

[2021-03-30 21:27] clauderic commented on #173
@Shaddix agreed the current setup may not be ideal for large complex use-cases, though as you mentioned this can be solved by propagating these events through a context provider you define.

Long term, something similar to `react-dnd`'s solution to state monitoring could eventually be a nice addition indeed, though I don't have plans to work on this in the short term, there are other higher priori

[2021-03-30 21:38] clauderic commented on #58
Hey @bbenzikry, I know others have tried going down this approach before. Would you be able to share what your solution looks like?

[2021-03-30 21:38] clauderic commented on #173
Going to close this issue as it is technically a duplicate of https://github.com/clauderic/dnd-kit/issues/58

[2021-03-30 21:38] #173 closed

[2021-03-31 09:59] lonk commented on #172
Hi @clauderic !

Thank you for your quick reply.

Your workaround doesn't work in my case because onDragEnd is fired before onClick so I think I'll go with the DragOverlay workaround :)

Have a nice day !

[2021-03-31 19:35] Nayeemuddin-khan commented on #147
@clauderic  Just wanted to check if you were able to reproduce this reported issue?
or do you need anything else from me?

[2021-03-31 22:44] bbenzikry commented on #58
Hi, below is the psuedo-code for the approach we're taking.
Sorry in advance if I forgot something.

It's important to note that:
A. In this example I use two states, one for our "main" draggables, and one for an outer, far away draggable, just to illustrate the point.
In the real-world scenario we use a single state, update it, and later use useContextSelector to access the state and avoid a perf

[2021-04-01 03:39] AndrisBorbas opened #176 "Help with multiple sortable containers"
I am trying to create a multiple zoned grid but anytime I try to move an item from one zone to the other it either crashes or the item just disappears. I have been trying to make this work for days now, but I can't do it. I tried copying from the storybook example , with no luck.
Here is the relevant code, but the whole repo can be cloned and built to reproduce the issue: https://github.com/Andris

[2021-04-02 13:52] ludwignagelhus opened #182 "Documentation code for Sortable with Typescript not working"
I am playing around with the library in a project (which uses TypeScript).

The code in the Quick start section for a simple drag-and-drop works, but with this code, nothing moves and there is no interactivity.

I am going on a few hours without being able to find out what is wrong.  I would be very happy to accept some pointers :)

The code below contains two components that are to a large extent

[2021-04-02 14:00] clauderic commented on #182
I copied your code over to CodeSandbox and everything seems to be working from what I can tell https://codesandbox.io/s/eager-dewdney-03jm9?file=/src/App.tsx

[2021-04-02 14:59] stevesizer opened #183 "Animation not working for Array of objects"
Hi,

I have modified your basic example to try and use it with an object array, but doing so stops the animations from happening? Is there any reason for this?

Column.js
[code]
Item.js
[code]

[2021-04-02 15:05] clauderic commented on #183
The `<SortableContext>` component requires that you pass it the sorted array of the unique identifiers associated to each sortable item via the `items` prop. This array should look like `["1", "2", "3"]`, not `[{id: "1"}, {id: "2}, {id: "3}]`.

All you have to do is map your items array to an array of strings that represent the unique identifiers for each item:

[code]

[2021-04-02 15:05] #183 closed

[2021-04-02 15:06] clauderic commented on #147
Hey @Nayeemuddin-khan, what options do you have enabled for VoiceOver navigation?

<img width="942" alt="Screen Shot 2021-04-02 at 11 06 10 AM" src="https://user-images.githubusercontent.com/1416436/113427652-7366c780-93a3-11eb-8698-6de6ced46401.png">

You added this note which was confusing:

Did you mean to say that the up/down arrows work when the screan reader is _off_?

[2021-04-02 15:38] ludwignagelhus commented on #182
Huh, how strange. The code in your link works for me too, but I am not having success in my storybook or my react-app.

[2021-04-02 15:38] clauderic commented on #176
Do your empty droppables have a computed height or width that is greater than zero when empty?

Perhaps others can jump in on this. I personally don't have time to jump into other folks repositories, clone them, install dependencies and figure out how to run the project and finally try to understand all of its moving pieces and dependencies.

The best way for me to assist you is by opening an issu

[2021-04-02 15:41] clauderic commented on #182
Try copying over the code from CodeSandbox into your project to see if it works. If not, it's likely an issue with how your local project is set up.

Double check your `package-lock.json` or `yarn.lock` file to make sure you don't have two different versions of `react` or `@dnd-kit` dependencies installed for example.

[2021-04-02 15:41] #182 closed

[2021-04-02 16:11] AndrisBorbas commented on #176
In the array that shows all the droppables, it is there with correct height and width values.
I'll try to create a codesandbox of the issue, but the file I linked is the whole thing.

[2021-04-02 18:06] growthwp commented on #58
Hey @bbenzikry , I wanted to contribute a bit to the discussion and say that wherever we had a "plug & play" architecture for these types of interactions, things always went right. As it currently stands, a droppable/draggable interaction relies on a specific 1-level parent `DndContext`, however, the way I see it is that "some items depend on data from an object". That object could be something el

[2021-04-03 03:18] bbenzikry commented on #58
Hi @growthwp, I think the "right" way really depends on the type of interaction.
Implementing the approach you mentioned specifically, even using the hook / context, is pretty easy - we can just emit an event during the hook logic and register individual handleDrop(s)

[code]

However, regardless of the implementation, the question of "should this item be dropped here?" or "should this draggable b

[2021-04-05 16:17] rawcomposition commented on #182
Same issue here. I copy the code from that sandbox and it simply won't drag. No errors, nothing. A bit hard to debug. Will probably have to switch to a different drag and drop library, unfortunately.

[2021-04-05 16:19] clauderic commented on #182
@rawcomposition Can you send me a link to your project's source code or the contents or your yarn.lock / package-lock.json file?

[2021-04-05 16:22] rawcomposition commented on #182
Thanks for the quick response. Can't share the source code, unfortunately, but here's my yarn.lock: https://gist.github.com/rawcomposition/ba09062bad7e1dafe9479929aad20778

[2021-04-05 16:27] clauderic commented on #182
You have two versions of `@dnd-kit/core` installed:

[code]

Try running `npx yarn-deduplicate`

[2021-04-05 19:02] rawcomposition commented on #182
Thanks! `npx yarn-deduplicate` didn't seem to work, but uninstalling all of the @dnd-kit packages and re-installing them did the trick.

[2021-04-06 09:59] jonasHChristiansen commented on #89
Im also having this problem in storybook (multi containers grid)

[2021-04-06 11:50] growthwp commented on #139
I just wanted to comment and say that @jaymathew most likely needs to insert metadata in other to identify a type of a draggable. I'm almost 100% positive he has multiple, unrelated draggables in a list. With the `active` from `useDnDContext`, he'll be getting an active draggable's ID, but then the pseudo-code for actually finding more information about that draggable is basically "look through N

[2021-04-06 12:20] growthwp commented on #58
_Sorry for the inconsistency and lack of knowledge. I've tried to build a PoC based on your code but I don't really understand what the flow is, so, I decided to build a CSB of what I need in an attempt to help you understand *my* issue better and how I think it plays out for everyone else._

@bbenzikry Here's the PoC of the new structure am proposing: [https://codesandbox.io/s/proud-currying-80x1

[2021-04-06 14:44] clauderic commented on #139
@growthwp the plan is for consumers to be able to define arbitrary data on both draggable and droppable elements when invoking the `useDraggable` / `useDroppable` hooks and have this data available in handlers (`onDragStart`, `onDragOver`, `onDragEnd`, etc.) as well as sensors and collision detection algorithms.

Something like:

[code]

[code]

[2021-04-06 17:51] growthwp commented on #139
@clauderic Can't wait! Only keep reading if you don't wanna end up rolling your eyes at some possibly stupid stuff 😭

 This should solve lots of issues and allow for draggables/droppables to communicate regardless of where they are, but if the current architecture is kept (usage of `Context`), is that actually possible?

Let's assume that we already have sensors, collision and data on droppables/d

[2021-04-07 19:33] bguthrie opened #188 "Modifier transforms don't apply after drag is released"
I'm having an issue where I'd like to support drag/drop between `foreignObject` elements in an SVG canvas. `dnd-kit` treats the origin point for each drag as the relative location inside the `foreignObject` element rather than relative to the root `DndContext`. Fair enough, and I'm happy to work around this with a modifier, but modifiers appear to cease to perform transforms once a drag is release

[2021-04-07 19:41] clauderic commented on #188
Hey @bguthrie, this sounds like quite an advanced use-case. Could you provide a video or better yet (if possible), a CodeSandbox of what you're trying to achieve to illustrate?

[2021-04-07 20:57] mcookdev opened #189 "More Detail from DragEndEvent?"
Is it possible to get more than just the `id` of the `active` and `over` components from the `DragEndEvent`?

For context I'm trying to use `@dnd-kit/sortable` to implement drag/drop columns in a table that supports _multiple_ levels of headers (basically grouped headers).

In order to find and update the the proper item in the column I need some way to know the hierarchy/parents of the active ite

[2021-04-07 21:00] bguthrie commented on #188
Here's my an attempt to translate what I'm trying to do: https://codesandbox.io/s/quirky-smoke-yp10w?file=/src/App.js

This example contains a single `DnDContext` wrapping both a `DragOverlay` and an `svg` canvas, which contains a `foreignObject` with a `Draggable` as per the example docs. I've taken the liberty of adding a modifier that does what's desired with the transform, which demonstrates t

[2021-04-07 21:11] bguthrie commented on #188
Couple of other notes:

 - The modifier clears values like `containerNodeRect` on drop, but doesn't adjust drop location even when that rect is cached or when a fixed value is used.
 - Since no React DnD library appears to support this use case out of the box, I'm willing to go to a fair bit of trouble to get it working. :)
 - Probably goes without saying, but I'm not concerned about the styling i

[2021-04-07 22:29] clauderic commented on #189
Not yet, but coming soon, refer to this issue https://github.com/clauderic/dnd-kit/issues/139#issuecomment-814178995

[2021-04-07 22:29] #189 closed

[2021-04-08 08:20] jonasHChristiansen commented on #176
I experienced this as well. My workaround is to use a custom collision detection strategy when the div is empty

[2021-04-08 13:39] jdittrich opened #191 "Documentation of modifiers does not specify parameters and required return values"
Story: As a programmer, I want to know which data gets passed to a modifier function and which data I need to return

Current State: Aside of the small example, there seem to be no specification on the [modifier documentation page](https://docs.dndkit.com/api-documentation/modifiers)

Possible Solution: Document parameters and return values of modifiers

[2021-04-08 13:50] jdittrich commented on #191
Seems modifiers are functions that [get these `Modifier` parameters](https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4aca258c6a0/packages/core/src/modifiers/types.ts#L4) and need to return [this  `Transform` type](https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4aca258c6a0/packages/utilities/src/css.ts#L1) (?)

[2021-04-08 19:54] Tuily commented on #89
One thing I noticed is that the element "frezees" when I change it to another list using `onDragOver`.
It's like DndKit loses the element reference.

[2021-04-08 20:44] clauderic commented on #89
@Tuily that issue is only reproducible in Storybook, it doesn't happen if you view the story directly: https://5fc05e08a4a65d0021ae0bf2-oxwctvvgtd.chromatic.com/iframe.html?id=presets-sortable-multiple-containers--basic-setup&viewMode=story

[2021-04-08 21:07] Tuily commented on #89
@clauderic thank you, I'll check this example.

[2021-04-09 10:57] hzura opened #192 "When add a new Object to the sortable array's head, the animation is wrong"
I'm using dnd-kit because the animation is cool, but I find sometimes it does'nt show the correct animation, here is the situation:
when I first sort the array and then unshift a new object to the array's head, the animation is wrong. all animation's first frame is their original position, not the position that it has been sorted.
here is the sandbox:
https://codesandbox.io/s/dnd-kit-grid-problem-

[2021-04-09 13:19] clauderic commented on #192
Use the `layoutMeasuring` prop of `DndContext` and set it to:

[code]

https://codesandbox.io/s/dnd-kit-grid-problem-fixed-forked-ekjc1?file=/src/SortableGrid.js

[2021-04-09 13:19] #192 closed

[2021-04-09 19:00] adaptedbee opened #193 "Linting/Build Error"
![image](https://user-images.githubusercontent.com/14358216/114227963-64bd7900-997e-11eb-9213-d8a02c391425.png)
I'm getting error doing linting or building

I guess the problem is: [https://stackoverflow.com/questions/59833120/parsing-error-expected-in-import-type](https://stackoverflow.com/questions/59833120/parsing-error-expected-in-import-type), and that syntax is still [not supported](https://

[2021-04-09 19:03] clauderic commented on #193
Check your version of `typescript-eslint`, that syntax is supported https://github.com/typescript-eslint/typescript-eslint/pull/1697

[2021-04-09 19:03] #193 closed

[2021-04-09 19:06] adaptedbee commented on #193
@clauderic I installed the latest version, still the same error

[2021-04-09 19:07] clauderic commented on #193
Are you certain your project is failing to compile because of `typescript-eslint`? Doesn't look like that's necessarily the case from the screenshot you posted above.

[2021-04-09 19:14] adaptedbee commented on #193
@clauderic
Linter shows multiple errors
![image](https://user-images.githubusercontent.com/14358216/114229300-4d7f8b00-9980-11eb-9453-fb1689d3aded.png)
And no errors after removing the library

[2021-04-09 19:16] clauderic commented on #193
What version of `typescript` do you have in your `package.json`, `yarn.lock` /` package-lock.json` files?

[2021-04-09 19:18] adaptedbee commented on #193
"typescript": "^3.7.4",

"@typescript-eslint/eslint-plugin": "^4.21.0",
"@typescript-eslint/parser": "^4.21.0",

[2021-04-09 19:19] clauderic commented on #193
You have to use `typescript^3.8.x`

[2021-04-09 19:29] adaptedbee commented on #193
It looks like it helped, thank you!

[2021-04-10 08:33] TimNZ commented on #65
@salali independent of this issue, id is a string - you can prefix each item with a type e.g. 'carrot-1', 'milk-1', to do checks.

[2021-04-10 19:26] justdvl commented on #47
This is something I'm interested in. Would anyone have codesandbox with this please?

[2021-04-10 19:46] justdvl commented on #77
Hello @clauderic  . Thanks for the Codesandbox example above, very helpful.
Is there a way to not fill empty spot in a grid with other element, but leave it empty there? Let's say I changed your Codesandbox to only have 2 columns, so 1 row can have 2 items. I would like to allow user to take one item to other row and leave just 1 item in that row. If it is possible, how? Thanks.
@sventschui I am a

[2021-04-12 14:30] herrKlein opened #198 "Drag does not maintain position, can't find (simple) example"
If I follow the tutorial the draggable does not maintain position when released.

Despite knowing I should do this manually, I was not able to figure this out. Looking at the storybook example, it uses [css properties](https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4aca258c6a0/stories/components/Draggable/Draggable.tsx#L53), forwardRefs and synthetic events, its too complex

[2021-04-12 22:53] xorander00 commented on #182
Not sure if I should create another issue for this or we should re-open this one.  Let me know if I should create another one.

I'm having the exact same problem as above, except uninstalling & reinstalling the dependencies didn't work.  I checked the dependency versions (yarn why) and they look ok.

When I switched out useSortable for useDraggable+useDroppable, it works, which points to a potenti

[2021-04-12 22:58] xorander00 commented on #182
I was just taking a quick look at the packages and both core as well as sortable depend on react^16.  Using useDraggable+useDroppable from core works in my case with react^17, but sortable does not work, which might be a hint that it's not an issue with the react version.

I also noticed that sortable isn't using the latest versions of core or utilities, but I have those explicitly installed.  I t

[2021-04-13 06:24] rayshan commented on #182
I'm running into the same issue: `useSortable` doesn't work. I'm not getting any listeners. Switching to `useDraggable` gives me listeners. I'm also on React 17. Removing and reinstalling dependencies didn't help. This has been very frustrating to debug since it's failing silently.

[2021-04-13 06:29] rayshan commented on #182
@xorander00 can you please sharing how you made it work with useDraggable+useDroppable?

[2021-04-13 09:56] steoo opened #199 "Items jumping in sortable single container when using a collection"
Hi everyone, so the issue I'm seeing is the one I replicated here: https://codesandbox.io/s/hungry-maxwell-yrcrb?file=/src/App.js

You can see that when you move an object, it will return briefly to its original position and then will be moved to the final position.

I noticed that the issue is that the IDs are calculated on the indexes of the collection – I also tried to create a separate IDs arr

[2021-04-13 12:16] nicolaerusan opened #200 "Add documentation for LayoutMeasuringStrategy"
I was just following along with the `Pages` example, and noticed mention of the `LayoutMeasuringStrategy`. I went to the docs to understand it's recommended usage is but saw it's not mentioned there yet. I think it might be helpful to add a quick section in the docs on this, as it seems it's also solved a few people's animation issues recently.

(sidebar: we're really enjoying using dnd-kit, so gr

[2021-04-13 13:58] clauderic commented on #182
If `useDraggable` / `useDroppable` work but `useSortable` does not, it means that you have multiple versions of `@dnd-kit/core` installed in your project.

Double check your `yarn.lock` or `package-lock.json` files and remove the duplicate version of `@dnd-kit/core`. Alternatively, removing all `@dnd-kit` dependencies from your `package.json` file, then running `yarn / npm install`, and finally ru

[2021-04-13 14:04] clauderic commented on #199
Lots of issues with your code.

1. You need to pass stable keys to the `key` prop (you cannot use index as a `key`)
2. You cannot use `index` as an `id` for `useSortable` because it is not stable, for the same reason why you cannot use it as a `key`.
3. Your `handleDragEnd` logic was incorrect

https://codesandbox.io/s/mystifying-cray-w9ipm?file=/src/App.js

[2021-04-13 14:04] #199 closed

[2021-04-13 16:17] xorander00 commented on #182
@clauderic

[code]

It appears to be consistent.  I uninstalled & reinstalled @dnd-kit packages, but no dice.  I reinstalled all packages, but no dice.

[2021-04-13 16:20] xorander00 commented on #182
I just checked yarn.lock and it has this...

[code]

I just looked at dependencies for those packages.  I would think that semver would resolve to 2.1.2 for all of those packages, but maybe not?  Would updating the dependencies for @dnd-kit/modifiers & @dnd-kit/sortable to ^2.1.2 solve the issue?

[2021-04-13 16:23] xorander00 commented on #182
@rayshan

I pretty much just followed the [quick start guide](https://docs.dndkit.com/introduction/getting-started).  The basic gist is to create two components, one that wraps useDroppable and another that wraps useDraggable.  Then use the components with a unique id for each instance and wrap the whole thing in DndContext.  I also have DragOverlay as a sibling to my container of draggables & dro

[2021-04-13 16:45] clauderic commented on #182
@xorander00 can you share your code?

Also, can you share the yarn.lock value(s) for `@dnd-kit/core`?

[2021-04-13 16:59] xorander00 commented on #182
Sure, yarn.lock as follows...
[code]

I'll have to pull the code that uses sortable later as that'll need to come from vcs history since I changed over to useDraggable+useDroppable.  Off the top of my head though, it was pretty close to what's in the docs.  Also, I'll add I experienced the same thing as @rayshan, listeners were missing & no DndContext events were being fired (which I guess would h

[2021-04-13 17:32] rayshan commented on #182
Thanks @xorander00 I'll give it a try later.

@clauderic I'm using Yarn Berry 3.0 rc1.

package.json:

[code]

yarn.lock:

[code]

Does this mean that I have 2 core versions? Yarn cache only shows 1 version:

<img width="443" alt="Screen Shot 2021-04-13 at 10 30 17 AM" src="https://user-images.githubusercontent.com/3760840/114595721-8e5af680-9c43-11eb-8c72-d50b0598fe5d.png">

[2021-04-13 17:43] clauderic commented on #182
Seems fine @rayshan. Can you post the code you have? A good sanity check would be to try to replicate the issue in CodeSandbox. If you can replicate in CodeSandbox, it's _probably_ user-error. If you can't replicate, it's likely a problem with your local setup.

[2021-04-13 18:42] xorander00 commented on #182
I should mention that I'm using berry as well.  Not saying it's an issue here, but it does tend to surface dependency declaration issues if present.  A couple of other dependencies I've used had to fix dependency declarations as well, though it could definitely be an issue with berry.

I'll investigate further later this week.

[2021-04-14 07:35] Profesor08 commented on #188
`modifier` is calling, but result is totaly ignored

[2021-04-14 13:32] mihainsto opened #203 "Help - Documentation - Button inside a draggable"
Hello, I want to have a button inside a draggable and it does not work as expected, you have to click multiple times for it to work.
Take a look in this sandbox: https://codesandbox.io/s/dnd-kit-button-glj0t?file=/src/App.js

Any ideas? Thanks

[2021-04-14 13:35] clauderic commented on #203
Set an [`activationConstraint` on your PointerSensor](https://docs.dndkit.com/api-documentation/sensors/pointer#activation-constraints)

https://codesandbox.io/s/dnd-kit-button-forked-71g2g?file=/src/App.js

[2021-04-14 13:35] #203 closed

[2021-04-14 21:02] nicewaytodoit opened #204 "Issue with clicking on the same Item twice freezes entire sortable list?"
I would appreciate a bit of help not sure what I am doing wrong,  trying to setup fairly simple example as below:
[code]
As soon as any item is touched twice all items will stop working, any clue why?

[2021-04-14 21:04] nicewaytodoit commented on #204
[code]

[2021-04-14 21:15] clauderic commented on #204
[code]

[2021-04-14 21:15] #204 closed

[2021-04-14 21:22] nicewaytodoit commented on #204
Tried does not solves the issue, if you double click on item same will happen.

[2021-04-14 21:25] clauderic commented on #204
Please provide a CodeSandbox replicating the issue for further assistance.

[2021-04-14 21:26] nicewaytodoit commented on #204
Give me few minutes

[2021-04-14 21:29] nicewaytodoit commented on #204
Here it is:
https://codesandbox.io/s/restless-haze-ibnzg?file=/src/App.tsx

[2021-04-15 00:29] clauderic commented on #204
The problem is that you're using components that use `useSortable` inside `<DragOverlay>`

https://codesandbox.io/s/serene-pond-g1jom?file=/src/App.tsx

Refer to https://docs.dndkit.com/api-documentation/draggable/drag-overlay#patterns

[2021-04-15 02:43] mitchheddles commented on #25
Hey @clauderic I know this is an old ticket, but I'm seeing this issue with `useSortable`.

Do you know what causes this or have any tips for debugging? It looks like `useDraggable` is getting the default context value.

<img width="785" alt="Screen Shot 2021-04-15 at 12 28 57 pm" src="https://user-images.githubusercontent.com/20656128/114805432-5b9d3380-9de6-11eb-95e1-47293ad5bbc2.png">

I don't

[2021-04-15 02:45] clauderic commented on #25
This happens when you have multiple versions of `@dnd-kit/core` installed locally. Double check your `package-lock.json` or `yarn.lock` files, you most likely have multiple versions installed in parallel.

Refer to this issue for more debugging steps https://github.com/clauderic/dnd-kit/issues/182

[2021-04-15 02:53] mitchheddles commented on #25
@clauderic That did it, thanks pal!

[2021-04-16 07:34] a1ooha opened #205 "Droppable - Wrong Droppable area with transform style"
Wrong Droppable area when using transfrom style on Droppable container, how can i fix it?

demo: https://codesandbox.io/s/stoic-river-iwsl3?file=/src/App.js

[2021-04-16 10:33] a1ooha commented on #205
when using transfrom style, node.offsetLeft and node.offsetTop are incorrect.

[code]

so, `getEdgeOffset` return incorrect nodeOffset. i try to fix it with replacing `const {x: offsetLeft, y: offsetTop} = getEdgeOffset(element, null);` with `const {left: offsetLeft, top: offsetTop} = element.getBoundingClientRect();`, it performs well in my application.

[code]

[2021-04-16 11:53] mgolawski commented on #72
@clauderic How would you proceed with triggering handlers on `DnDContext`?. Using `RTL` events does not trigger anything. It basically closes the way to unit test any behaviours without extracting the logic outside of components.

[2021-04-16 23:21] ZipBrandon commented on #45
Circling back on this a few months later to see if anyone has achieved this yet in a more succinct way then I had originally propositioned?

[2021-04-17 09:17] herrKlein commented on #198
I figured this one out. You have to set the delta and initial translate in a state.
Following the example I now can place a card arbitrary and if near a drop zone it slides on the exact location of the droplocation.

For future notice, I post a link here to one of the storybook examples which pattern I used:
[Draggable story](https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4

[2021-04-17 09:17] #198 closed

[2021-04-19 10:13] damien-monni opened #208 "Trying to drag and drop with Cypress"
Hi !

I would like to test my application with Cypress but I can't find a way to simulate a drag and drop. I tried to use the same `mouseMoveBy` command you created in `draggable_spec.ts`, but it has no effect on my application. Nothing seems to move.

I just have a basic drag and drop setup from the DndKit getting started documentation, nothing fancy. Did you have to setup something special to ma

[2021-04-19 13:17] clauderic commented on #208
@damien-monni the custom commands used for testing in Cypress can be found here: https://github.com/clauderic/dnd-kit/blob/master/cypress/support/commands.ts

Did you also add these in your Cypress `support` folder?

[2021-04-19 14:50] damien-monni commented on #208
@clauderic I could not find a way to put an example online so I just created minimal repo reproducing the issue: https://github.com/damien-monni/dnd-kit-issue

Just clone, run `npm install` and `npm start`.

Then launch Cypress with `npm run cypress:open`. You will see that nothing seems to be dragged and dropped.

[2021-04-20 02:23] clauderic commented on #58
This should be a lot easier to manage with the introduction of the `useDndMonitor` hook along with the fact that `data` defined in `useDraggable` and `useDroppable` is now exposed on the `active` and `over` properties.

These improvements have just shipped in version `3.0.0` of `@dnd-kit/core`.

- The `useDndMonitor` hook can be used within components wrapped in a `DndContext` provider to monitor

[2021-04-20 03:06] clauderic commented on #200
https://docs.dndkit.com/api-documentation/context-provider#layout-measuring

[2021-04-20 03:06] #200 closed

[2021-04-20 16:10] clauderic commented on #139
As of version `^3.0.0` of `@dnd-kit/core`, the `data` argument for `useDraggable` and `useDroppable` is now exposed in event handlers and on the `active` and `over` objects.

**Example usage:**

[code]

Refer to https://docs.dndkit.com/api-documentation/droppable/usedroppable#data and https://docs.dndkit.com/api-documentation/draggable/usedraggable#data for more details.

[2021-04-20 16:10] #139 closed

[2021-04-21 02:19] dzcpy opened #216 "Unable to trigger drag event after clicking any draggable element with PointerSendor"
Example:
https://codesandbox.io/s/test-dnd-kit-forked-myy7t
Every tag is draggable until you click one of them.
However it used to work with an old version of this library:
https://codesandbox.io/s/test-dnd-kit-forked-qyjw2

[2021-04-21 02:33] clauderic commented on #216
Seems like a regression in `@dnd-kit/core`, investigating

[2021-04-21 02:37] clauderic commented on #59
Added in this PR #207

[2021-04-21 02:37] #59 closed

[2021-04-21 02:47] clauderic commented on #216
Fix in progress here https://github.com/clauderic/dnd-kit/pull/217

[2021-04-21 03:29] clauderic commented on #216
Fix has shipped with `@dnd-kit/core@3.0.1`, confirmed that it solves the issue:

https://user-images.githubusercontent.com/1416436/115492706-4d10ab00-a230-11eb-866c-3e179bf19158.mp4

[2021-04-21 03:29] #216 closed

[2021-04-21 03:47] clauderic commented on #216
I wanted to update the CodeSandbox to show you the issue being fixed there, but there's a bug with the package version resolution of CodeSandbox 🙈  It's resolving to `@dnd-kit/core@3.0.0` even if you specify `^3.0.1`; this bug only happens in CodeSandbox, not if you download the code and run it locally.

Opened an issue here https://github.com/codesandbox/codesandbox-client/issues/5687

[2021-04-21 03:55] heroboy opened #219 "How to make a 'passive' sortable list?"
The 'passsive' I mean is the items position change is not caused by the user drag and drop.
My code sort the items, and let this library to do the transition animation.

I looked at your `Removable` example, its animation working. But when I write my code, it's not working. I have add code like:
[code]
But when I sort the items, or remove an item, there's no animation

[2021-04-21 03:58] clauderic commented on #219
Refer to https://github.com/clauderic/dnd-kit/discussions/108#discussioncomment-524987

If you run into issues, [open a new discussion](https://github.com/clauderic/dnd-kit/discussions/new) under `Q&A` with a link to a CodeSandbox that replicates the issue you are having.

[2021-04-21 03:58] #219 closed

[2021-04-21 04:01] dzcpy commented on #216
@clauderic Thanks, that was really quick! ✨
Tested on my side and it's working now 👍

[2021-04-21 09:07] kelvindc opened #220 "same code works in old version but not in new"
Hi, does this newest 3.0.2 work with React 17?

I took this example from sampl:
https://codesandbox.io/s/dnd-kit-flex-wrap-layout-yt4rv

upgrade it to newest 3.0.1, react 17.0.2:
https://codesandbox.io/s/dnd-kit-flex-wrap-layout-forked-wrjig

with a few minor changes:
1) remove fade={isDragging} to disable isDragging=null error
2) CardsWrapper: remove flowDirection:column
3) strategy: use rectSort

[2021-04-21 11:48] bellybailey opened #221 "SortableContext item with percentage width"
First of all, I want to thank you for building this amazing library.

In my current project, I would like to use drag and drop on items which have percentage width. For example:

https://codesandbox.io/s/test-dnd-kit-forked-q2m6u

However, when I click on an item to drag, the item width shrinks:

![image](https://user-images.githubusercontent.com/82514004/115547776-caa0ed80-a2fa-11eb-99e0-cddf4c78

[2021-04-21 13:48] clauderic commented on #220
Hi @kelvindc,

This is a bug in CodeSandbox. Multiple versions of `@dnd-kit/core` end up being included in that sandbox, which results in the code not working.

If you download the sandbox, run `yarn install && yarn start`, the code works fine:

<img width="416" alt="Screen Shot 2021-04-21 at 9 47 58 AM" src="https://user-images.githubusercontent.com/1416436/115564658-aacfe200-a286-11eb-8aad-bfdfe

[2021-04-21 13:48] #220 closed

[2021-04-21 13:58] clauderic commented on #221
https://codesandbox.io/s/test-dnd-kit-forked-rjbuo?file=/src/Item.js

The trick is to add `width: 100%` to the `item` rendered by `<DragOverlay>`

[2021-04-21 13:58] #221 closed

[2021-04-21 17:27] dzcpy opened #223 "Rects on the `active` property should be typed as `ViewRect` instead of `LayoutRect`"
When I use `console.log` to print `event.active.rect.current.initial`, there are `bottom, height, left, offsetLeft, offsetTop, right, top, width` 8 attributes. But in typescript its type `LayoutRect` has only `width, height, offsetLeft, offsetTop` 4 properties. So it's impossible to access the rest of properties without converting it to `any` first.

[2021-04-21 17:34] dzcpy commented on #223
Also, there is a weird bug (or probably it's a feature?). When I `console.log` the entire event object, all `rect`s are `null`. JSON.stringify is the same. But if I `console.log(event.active.rect.current.initial)` I can get the actual value. I've spent hours figuring why it's null and finally found this 😢
Hopefully it's mentioned in documentation, so it can save others some time

[2021-04-21 17:58] dzcpy commented on #223
By the way, here is my workaround:
[code]

[2021-04-21 18:19] clauderic commented on #223
This is indeed a mistyped property, it should be typed as `ViewRect` instead of `LayoutRect`. Feel free to open a PR, otherwise I'll get to this sometime today or tomorrrow.

Hopefully it's mentioned in documentation, so it can save others some time

This isn't really a bug. On drag start, the `rects` of the `active` property have not been measured yet, because the `DragOverlay` for example is not

[2021-04-22 01:29] iguto commented on #208
hi, @damien-monni

I had similar issue and found a solution.
in your dnd-kit-issue repository, try this:

[code]

It seems like MouseSensor is necessary. I hope this helps.

[2021-04-22 03:41] #223 closed

[2021-04-22 09:58] herrKlein opened #229 "Combining absolute dragging and dropping with droplocations problems."
Hi, last 2 weeks I worked extensively with DND kit for a card sorting application.

I ran into some problems positioning draggables on absolute location, unless released on a dropzone. If over a dropzone I just position the draggable exact over the droppable ( with top: and left: , transform did not work ).

1. If you drag/position without the overlay and only with transform, the drag does not cor

[2021-04-22 14:58] n1xx1 opened #230 "Dynamic size container for @dnd-kit/sortable"
Hello, I was experimenting with @dnd-kit and framer-motion. I'm trying to use a resizable container for my elements that depends on the amount of elements in it. What happens in that when I move the element to the list onDragOver keeps getting called because now the over element changes, so react crashes with `Maximum update depth exceeded`.

This is the CodeSandbox that shows the issue:
https://c

[2021-04-25 18:02] AndrisBorbas commented on #176
I had some spare time to work on this and I managed to make it work by only using one array, with the ids and data both inside it. But I still cant drop items into empty droppables. @Joe-HC could you show me an example of your workaround?

[2021-04-26 11:17] ranbena commented on #143
@clauderic in such a case, in order to render the appropriate **dray overlay**, one should conditionally render according to custom sortable data (example below)? Or is there simpler way?

[code]

[2021-04-26 13:56] clauderic commented on #143
Hey @ranbena, the example you have above is the way to _currently_ do it, but it doesn't lead to the greatest separation of concerns.

The main reasons why rendering the `<DragOverlay>` component within a component that uses `useSortable` isn't recommended is that the `DragOverlay` component should not unmount while dragging, so if you have items that shift from one column to another while draggin

[2021-04-26 14:08] ranbena commented on #143
Whoops, it's a typo - it's actually `<SortableItem>` and `<SortableColumn>` that implement `useSortable`, not `<Item>` and `<Column>`. Of course, the `DragOverlay` should not render a sortable component.

Not sure I understand what scenario can yield a problem. (I've already implemented this and it does work perfectly)

[2021-04-26 14:52] damien-monni commented on #208
@iguto It's working! Thank you so much!

[2021-04-26 15:24] clauderic commented on #208
Right. The `MouseSensor` is necessary because the [commands trigger mouse events](https://github.com/clauderic/dnd-kit/blob/master/cypress/support/commands.ts#L60). If you would like to use the Pointer sensor, trigger `pointer` events instead (for example, `pointerdown` instead of `mousedown`)

[2021-04-26 15:24] #208 closed

[2021-04-26 17:03] clauderic commented on #143
@ranbena I was referring to this type of pattern:

[code]

It's not recommended because:
- You should only have a single instance of DragOverlay mounted at a time (assumptions in the library, performance reasons)
- The DragOverlay component should ideally not unmount while dragging; if `SortableItem` is unmounted and moved to a different column while dragging, that assumption will be broken.

[2021-04-26 17:07] ranbena commented on #143
Oh I understand.
I implemented a single `DndContext` and single `DragOverlay` that encompass all the sortables within the kanban.

[2021-04-26 21:59] johnatzark opened #237 "Determine why Sendgrid User Updates are hanging"
There seems to be a blockage in the SendGrid User Update table with almost 6000 records 'stuck' there with create dates of the last 2 days

[2021-04-26 22:08] clauderic commented on #237
Well that's no good. Very sorry to hear that.

[2021-04-26 22:43] johnatzark commented on #237
Sorry, I logged this in the wrong git hub project...

[2021-04-26 22:43] #237 closed

[2021-04-27 22:49] alspdx opened #238 "Final `ViewRect` coordinates for active draggable `null` in `DragEndEvent` argument in `onDragEnd` event handler"
As mentioned in [this discussion](https://github.com/clauderic/dnd-kit/discussions/236), it would be relevant to know the final location of the active draggable in the `onDragEnd` handler for calculating absolute position. Before on the `onDragEnd` event handler is invoked the values for `event.active.rect.current.initial` and `event.active.rect.current.translated` are set to `null`, and location

[2021-04-28 11:13] ohayojp opened #239 "Droppables will randomly interact when dragging over empty space on the bottom of scrolled container"
When droppables are in scrolled container, dragging over bottom area (place for padding/margin) when this container is scrolled will cause those droppables to interact randomly and React will start throwing `Maximum update depth exceeded` error resulting in freeze at some point.
If you remove elements or increase the window size to remove the scroll this won't happen.

https://user-images.githubus

[2021-04-28 16:10] clauderic commented on #239
There's a bit too much going on in this sandbox for me to fully diagnose if this is a bug in the library or just user-error;

However, it looks like you have double scrollbars (one for the document body and one for the table wrapper), which is what is causing the issues you're seeing.

Commenting this out appears to solve the issue:

<img width="253" alt="Screen Shot 2021-04-28 at 12 08 05 PM" src

[2021-04-28 16:10] #239 closed

[2021-04-29 07:18] tjunghans commented on #172
I have a similar issue with items in a grid, where the first item (cell) is larger than the rest. When dragging any item to the first  cell (top, left), the click event is fired. For any other re-order, the click event is not fired (as expected). This includes dragging the first cell to another position, which also works as expected.

I've tried the above suggestions without success. The click eve

[2021-04-30 12:05] tarequl143 opened #244 "Dragging Over Issue."
I have used dndkit multicontainer sortable but when I am dragging an item from one droppable container to over another droppable container its working but when I am doing it FAST its giving me error. That is from sortable context. I am attaching the screenshot. Is it an bug of dndkit please help if possible.

<img width="1077" alt="Screenshot 2021-04-30 at 5 59 55 PM" src="https://user-images.gith

[2021-04-30 12:51] JanJohanX opened #245 "Trashable items - when container is horizontale scrolled"
![Peek 2021-04-30 14-48](https://user-images.githubusercontent.com/44831820/116697409-70bbba00-a9c3-11eb-8104-a8d7dce87802.gif)

[2021-04-30 15:46] ranbena commented on #205
I have another use-case in which a transformed SortableContext yields an offset drag overlay.
Here's the sandbox demo https://codesandbox.io/s/dnd-kit-offset-b2744

@a1ooha can you test to see if your PR resolves this case as well?

https://user-images.githubusercontent.com/486954/116719759-1da62f00-a9e4-11eb-8e9b-08d079c2e643.mov

[2021-05-01 12:59] a1ooha commented on #205
no, it can't resolve your case.

[2021-05-01 13:21] clauderic commented on #244
Pleas open issues with a CodeSandbox reproducing the issue to receive help

[2021-05-01 13:22] clauderic commented on #245
Duplicate of https://github.com/clauderic/dnd-kit/issues/61

[2021-05-01 13:22] #245 closed

[2021-05-01 19:20] MSchiavi opened #247 "Columns > 3 and vertical true on MultipleContainers"
If columns are greater than 3 and vertical is true, if i empty one of the item lists by dragging items out you can no longer put items into that list. I attached a gif of the behavior reproduced in the MultipleContainers.story.tsx.

https://gyazo.com/5b7b04d660bb5fe37cdc3913ec52fd6e

[2021-05-03 01:53] clauderic commented on #247
Try with the `closestCenter` collision detection algorithm.

This isn't a bug, it's just how the `closestCorners` collision detection algorithm works, it's not optimized for that use-case. Read more here https://docs.dndkit.com/api-documentation/context-provider/collision-detection-algorithms#closest-corners

[2021-05-03 01:53] #247 closed

[2021-05-03 12:02] PhilippSpo opened #250 "CSS transforms not considered on droppables"
We have a use case where our droppables are scaled and translated using a CSS transform. However, the `width`, `height`, `offsetLeft`, and `offsetTop` of the drop targets don't include the applied CSS transform.

Is there already some way to support this behavior that we didn't find in the documentation? 🤔 Something like using `getBoundingClientRect` under the hood?

[2021-05-03 13:46] clauderic commented on #250
Duplicate of https://github.com/clauderic/dnd-kit/issues/205

[2021-05-03 13:46] #250 closed

[2021-05-03 19:29] tarequl143 commented on #244
I have solved out the issue. Thanks.
But I have another issue about click event. I want to make my draggable element clickable. But when I am clicking in my draggable element 4 or 5 time at a time with speedy clicking its making whole dragging disabled. After that I can'd drag my draggable element. Can you please help me about it?

[2021-05-03 19:59] clauderic commented on #244
Please re-open as a [Discussion](https://github.com/clauderic/dnd-kit/discussions) under `Q&A` with a CodeSandbox reproducing the issue to receive help

[2021-05-03 19:59] #244 closed

[2021-05-03 20:09] tarequl143 commented on #244
Its simple. I want to make my draggable element as a link. How can i do this?

[2021-05-04 08:29] gegis opened #251 "Sortable Tree initial collapse effect"
Hi Team,

Really great work, but I cannot get around one issue, which is initial animation on a collapse for the sortable tree items.
https://5fc05e08a4a65d0021ae0bf2-evxexveqfg.chromatic.com/?path=/story/examples-tree-sortable--all-features

The sample code was take from:
https://github.com/clauderic/dnd-kit/tree/master/stories/3%20-%20Examples/Tree

On the first time animation for the items coll

[2021-05-04 09:09] namroodinc opened #252 "Cursor offset with draggable item when dragging and scrolling"
Similar to this issue (which I think has a great video showing the issue): https://github.com/clauderic/dnd-kit/issues/86

If you select a draggable item and either scroll vertically, the cursor and the point from which you were dragging the item end up having an offset.

I've got a Code Sandbox going: https://codesandbox.io/s/compassionate-carson-y1f0h

You can replicate the above by dragging the

[2021-05-04 09:19] namroodinc commented on #61
Has there been any fixes for this bug?

[2021-05-04 15:33] clauderic commented on #252
You have to track scroll offsets yourself if you don't use the [`<DragOverlay>` component.](https://docs.dndkit.com/api-documentation/draggable/drag-overlay)

[2021-05-04 15:33] #252 closed

[2021-05-04 23:38] EdmundsEcho opened #253 "Documentation - Draggable with <Collapse>{children}</Collapse>"
Nice work on this library.

I have a component that changes size when the user clicks on the show/hide toggle of a detail view.  I'm using

[code]
...  to enable the event propogation, however, in my use case, I'm seeing any change in the component's shape.  Is this, ability to change the size of the shape inside a <DropContext><Droppable /></DropContext>, something that is supported?

Thank you i

[2021-05-05 09:08] nghiepit opened #254 "@dnd-kit/core@3.0.2 breaking Sortable"
I've just upgraded to `@dnd-kit/core@3.0.2` and Sortable no longer works.
I can't drag handles, sorry can not provide a reproduction.

[2021-05-05 17:26] wmain opened #255 "Provide data to CollisionDetection functions"
Loving the improved ergonomics of the `data` field on sortables/draggables! Performance for our case would be greatly improved if that data was available in our custom collision detection function so that we don't have to continue encoding information about our objects in our unique identifiers. At a minimum we'd like target, which is currently a `ViewRect`, to be a `RectEntry` so that we can extr

[2021-05-05 17:44] clauderic commented on #254
Double check your `package-lock.json` or `yarn.lock` file to make sure you don't have two different versions of any `@dnd-kit` dependencies installed.

Manually remove the duplicates or run `npx yarn-deduplicate`

[2021-05-06 12:06] fabb opened #256 "iPad iOS 12: Items can be Dragged, but not Dropped"
On an iPad a drag can be started fine, but when removing the finger, the drag overlay keeps showing and the drag is not finished.
Reproducible in the example storybook: https://5fc05e08a4a65d0021ae0bf2-evxexveqfg.chromatic.com/?path=/story/presets-sortable-grid--basic-setup

![image (18)](https://user-images.githubusercontent.com/153960/117295235-e1575080-ae73-11eb-9b3e-4084b889fd8b.png)

Reproduc

[2021-05-06 21:16] fabb commented on #256
It looks like this is a known issue in the iOS world and additionally listening to `touchendoutside` could solve it:
https://github.com/pixijs/pixi.js/issues/6191#issuecomment-575129079

[2021-05-06 21:25] clauderic commented on #256
`touchendoutside` [is not something that is part of the Touch events specification](https://developer.mozilla.org/en-US/docs/Web/API/Touch_events), it's something specific to PixiJS.

The issue probably has to to do with the Storybook iframe document losing focus, and therefore no longer receiving touch events. If you give focus back to the iframe things should work as expected.

It should be poss

[2021-05-06 21:51] clauderic commented on #255
Agreed, this would be a worthy addition. I originally planned to do this in the 3.0.0 release but decided to defer that to the next major version bump.

Don't have bandwidth to work on this in the short term but I should pick this up in a couple of weeks unless someone opens a PR.

[2021-05-07 05:22] fabb commented on #256
I have the same issue on my page where i don‘t use iframes. I read that iOS has issues when the touches end on a different element than they start, so maybe it‘s related to the drag overlay?

Unfortunately i currently don‘t have an ipad to debug the issue in depth, a remote colleague reported the issue.

[2021-05-07 11:38] Donorlin opened #257 "Is dnd-kit production ready?"
Good day sir,

More of a question than an issue (kind of both).. is this package production ready? Since your logo says beta I assume it should not be used in production.. however, this package is exactly what I need.

Thanks for your answer.

DJ

[2021-05-07 13:15] bryjch commented on #43
Not sure if this bug is the cause for the following as well: https://codesandbox.io/s/confident-pike-ofooi

- Multiple containers with grids of Droppable+Draggable squares
- Dragging within own container: auto scrolling works fine
- Dragging between containers: auto scrolls "over" container, then starts scrolling "from" container
- `onDragEnd` gets called repeatedly when the above occurs

Note: th

[2021-05-07 14:09] clauderic commented on #257
The library is labeled as beta, meaning that some issues and bugs should be expected. The core concepts are stable, but some of the APIs may change in the future.

You can take a look at the open issues, most issues currently are related to advanced use-cases, so for many simpler use-cases, especially those that [are documented in the examples](http://examples.dndkit.com/), the library should be p

[2021-05-07 14:09] #257 closed

[2021-05-08 21:48] namroodinc opened #261 "Testing dndkit using React Testing Library"
Hello!

Not so much an issue, but was just wondering if anyone had had been able to test dndkit drag and drop using [React Testing Library](https://testing-library.com/docs/react-testing-library/intro/)?

We've just changed over to dndkit from React DnD and found the [firing events](https://testing-library.com/docs/dom-testing-library/api-events) we were using when testing React DnD didn't transla

[2021-05-09 21:00] messerc commented on #125
Hi @clauderic, I think we've encountered a similar issue, and it is potentially pretty serious. More specifically, we're having issues with draggable and droppable registration in a nested context. If a container with nested draggable / droppable nodes is dragged and re-ordered, all droppable and draggable components within are un-registered, never to come back. If you refresh the page, of course

[2021-05-10 02:00] rayshan commented on #182
@clauderic the duplicate versions issue seems to be happening a lot (#25 #254). I still haven't figured mine out with my yarn berry setup. Does it make sense to make core a peerDependency of sortable, instead of a regular dependency? Like how react-dom requires react as a peerDependency: https://github.com/facebook/react/blob/master/packages/react-dom/package.json#L24-L26

[2021-05-10 10:21] fabb commented on #256
We retested with an iPad with iOS 14, and there it works correctly. Also on iOS 12 with the example `Without Drag Overlay` it works correctly, so I guess iOS 12 has some bug with touch-up events happening on different elements than the previous touch-down.

[2021-05-10 11:44] ohayojp opened #263 "Droppables will randomly interact when dragging over empty space on the bottom of scrolled container v2"
Regarding this closed issue - https://github.com/clauderic/dnd-kit/issues/239
I've created new code-sandbox without unnecessary elements - this is now just two draggables on the left and bunch of droppables inside table cells.
https://codesandbox.io/s/zen-turing-6hizq

On full screen example - https://6hizq.csb.app/ - you can see that there is no other scrolls, the only one is needed for table-wra

[2021-05-11 00:48] #263 closed

[2021-05-11 12:20] herrKlein commented on #229
I am closing this issue. The last points mentioned are all ipad IOS 12 related, and this is already reported as een issue.

[2021-05-11 12:20] #229 closed

[2021-05-12 12:41] rawcomposition opened #266 "DragOverlay for table row loses cell spacing"
When the `position:fixed` CSS property gets applied to the DragOverlay element with `wrapperElement="tr"`, the row cells lose their spacing, and they all end up squished to the left side. What is the recommended workaround for this? Seems like sorting table rows is a fairly common use case, so I assume there must be some kind of workaround?

[2021-05-12 16:12] clauderic commented on #266
You probably need the `wrapperElement` to be `table`

[2021-05-12 16:12] #266 closed

[2021-05-12 16:17] rawcomposition commented on #266
The `wrapperElement` of `DragOverlay` surrounds the actively dragging element, not the entire list. My list is already surrounded with a `table` element. Here's a page discussing how `react-beautiful-dnd` handles it. They have a "dimension locking" option to keep the cells the same size while dragging: https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/patterns/tables.md

[2021-05-12 16:22] clauderic commented on #266
Perhaps you could open a CodeSandbox replicating the issue you are facing to illustrate.

`<DragOverlay>` applies a fixed `width` / `height` to the wrapper element it renders, which should match the width and height of the row you are currently dragging.

I'd recommend always rendering the `<DragOverlay>` component in a portal, in which case you need your row to be wrapped in a `table` wrapper ele

[2021-05-12 16:26] clauderic commented on #261
I haven't personally used React Testing Library so I can't speak to its compatibility with `@dnd-kit`. The main thing I would recommend is making sure you fire the right type of events for the sensor you are using.

For example, by default, `<DndContext>` uses the [Pointer sensor](https://docs.dndkit.com/api-documentation/sensors/pointer), so make sure you fire [Pointer events](https://developer.m

[2021-05-12 16:38] rawcomposition commented on #266
I'll work on getting a CodeSandbox setup to recreate the issue. The fixed width/height of the row is not the problem, it's the sizing of the cells within the row. Dnd-kit applies a `position: fixed` attribute to the row, which causes it to lose the context of of the other rows, so the width of the individual cells inside the row no longer matches the table. See article here, discussing a similar p

[2021-05-12 17:19] clauderic commented on #266
Thanks @rawcomposition, this is helpful context. I don't think this is something that should natively be part of `@dnd-kit/core`, it's a fairly advanced use-case and it adds a lot of complexity to the codebase to try to support this.

You could create an abstraction yourself to measure the size of each table cell for the row being dragged and propagate those measurements to the component you rende

[2021-05-12 17:31] clauderic commented on #266
Something like this would probably work (untested):

[code]

[2021-05-12 17:37] clauderic commented on #253
Have you tried using a `distance` constraint that's a bit greater, something like `10` pixels?

It's hard for me to provide specific guidance without being able to see more of the code you're using. The best way for me to help you is if you're able to set up a CodeSandbox replicating the issue.

[2021-05-12 17:41] rawcomposition commented on #266
Makes sense, and thanks for the sample code, that should give me a good head start!

[2021-05-12 22:14] Logaqm opened #269 "All draggables transform being updated after 1's state change"
I am working on being able to drag and reposition draggables and im having an issue where updating the state of one draggable seems to also translate the other?
IMO using state does not seem like the best way to accomplish this, especially considering the documentation advises the use of transform specifically to avoid constant rerenders, but this is the only thing i have gotten to work well and t

[2021-05-12 22:23] clauderic commented on #269
The `useDndMonitor` callback functions will be invoked in all your components that use it, so you need to double check within the handlers that the `id` matches the `active.id` or check `isDragging`:

[code]

I'm not sure what your use-case is, but it is worth mentioning that you could also just use the `transform` prop returned by `useDraggable`:

[code]

[2021-05-12 22:23] #269 closed

[2021-05-13 05:07] jasonabullard opened #270 "SVG Support"
Would love to see support for SVGs being droppable/draggable.  setNodeRef only takes an HTMLElement which doesn't allow it to be set on an svg.

[code]

[2021-05-13 07:35] firede commented on #172
Got the same issue, I created a CodeSandbox: <https://codesandbox.io/s/sortabletabs-without-dragoverlay-vg3vg?file=/src/SortableTabs.tsx>

---

After that, I forked this and uses `DragOverLay`: <https://codesandbox.io/s/sortabletabs-with-dragoverlay-kdvgg?file=/src/SortableTabs.tsx>
Got a new issue, all the click events cannot be triggered.

[2021-05-13 12:32] markkosorus opened #271 "IE11 Polyfills"
Recent 2.0.0 and 3.0.0 releases specify that:
[code]

Is there a list of what polyfills would be needed to make this work on IE11?

[2021-05-13 13:49] joshjg commented on #61
Thanks @bbenzikry - I tried the changes from your fork locally and it solved the issues I was having.

[2021-05-13 14:35] bbenzikry commented on #61
Happy to have helped :)

[2021-05-13 22:43] augustblack opened #272 "mobile looses scroll focus on sortable items within scrollable div"
Hi,

There seems to be some weird behavior on mobile interfaces that require touch/pointer input and sortable items within a scrollable container div.

When you first load the page, you can scroll the list of items within the div.
As soon as you stop scrolling the first time, the div is not scrollable any more.

You can see this behavior on all of the examples.  Try loading the following on a mobi

[2021-05-14 21:23] lueenavarro opened #276 "In sortable, provide active and over index."
Currently in sortable, when you drag a droppable, you are only given this:

[code]

Then from the example, you need to search the whole list to find what's the item's index is and in which droppable does it belong. If providing the index is not possible, maybe allow the user to add their own properties to the draggable. The result could be something like this:

[code]

[2021-05-14 21:41] augustblack commented on #272
to add a bit more info, I think the problem is that having a sortable list inside of a scrollable container on mobile presents a significant challenge.

On mobile, the pointer device is used for both clicking and scrolling.  If you view the following on mobile, you can only drag and rearrange the list, you cannot scroll it:

https://5fc05e08a4a65d0021ae0bf2-pmliirrbge.chromatic.com/?path=/story/pr

[2021-05-14 23:50] lueenavarro commented on #276
Updating to the latest version now exposes a sortable object with index and sortable id.

[2021-05-14 23:50] #276 closed

[2021-05-15 10:02] lueenavarro opened #277 "Can't drag item outside of current droppable"
I made this very simple example. https://codesandbox.io/s/dnd-kit-sortable-example-c1gtn.

I can't seem to drag the item outside of its current droppable.
I am reading the documentation but I can't find what's wrong with the code

[2021-05-15 11:52] RomaricMourgues commented on #277
Hi, I just tried the same thing yesterday, in fact according to this example: https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4aca258c6a0/stories/2%20-%20Presets/Sortable/MultipleContainers.tsx

You need to put the containerA item into the containerB items list while dragging.

For instance if you have:

[code]

When you drag `myActiveItem` over `containerB` you must do:

[c

[2021-05-15 15:08] lueenavarro commented on #277
Thank you that worked! But I am still getting some blinking when moving an item between containers. I am not sure why.

https://user-images.githubusercontent.com/47080916/118366189-488ea680-b5d2-11eb-9696-f0133dff3a89.mp4

[2021-05-15 15:09] RomaricMourgues commented on #277
Actually I have the same issue ! If you find why it happens please share :)

[2021-05-15 15:15] RomaricMourgues commented on #277
Well I have it, you need to use the "createPortal" part, it will be used as the dragged component instead of the real component in containers. See this lines: https://github.com/clauderic/dnd-kit/blob/6f762a4d8d0ea047c9e9ba324448d4aca258c6a0/stories/2%20-%20Presets/Sortable/MultipleContainers.tsx#L327

[2021-05-15 18:23] lueenavarro commented on #277
Thanks, I am still having trouble making it work but that makes a lot of sense to attach the draggable in the document body.

[2021-05-16 13:44] lueenavarro commented on #277
I was able to make it work without createPortal but I did use DragOverlay. Here's an example of it: https://codesandbox.io/s/github/lueenavarro/dnd-kit-sortable

[2021-05-18 19:14] yuri-scarbaci-lenio opened #284 "[Request] support for ES5"
Hello,

We need support for ES5,
 would it be possible to support compilation to both `esm` and `cjs` ?

If I investigate how to add it and raise a PR, would you be willing to merge it?

thank you for the great library!

[2021-05-18 19:28] yuri-scarbaci-lenio commented on #284
Sorry, I just reviewed the building process and configuration, I understand the library is already compiling both `cjs` and `esm` version, but "module" is pointing at the `esm` version as it should, problem was on our part, our webpack configuration should handle it, I will investigate the issue further on our side...

[2021-05-18 21:34] medihack opened #285 "Warning with Next.js 10.2.0 and SSR"
First, thank you for this great library! Unfortunately, I get a new warning after I upgraded to the latest Next.js version (v10.2.0) because of the server-side rendering in development mode: `Warning: Prop 'aria-describedby' did not match. Server: "DndDescribedBy-2" Client: "DndDescribedBy-1"` (full traceback below). It seems that the server-side ID increases each time I refresh the page (maybe be

[2021-05-19 00:10] tonyjara opened #286 "Sortable animations don't work on latest release."
Hi, I'm new to the library so excuse me if this is already being discussed. I couldn't find an open issue.
Expected: https://codesandbox.io/s/mh95t?file=/package.json
Actual behaviour: https://codesandbox.io/s/dnd-kit-sort-demo-forked-irhhk?file=/package.json

[2021-05-19 13:17] morgoth opened #287 "3.0 changes event object in onDragOver"
I have something like:
[code]
In the 3.x version I'm getting an object with active, delta and over keys, but in 2.x it was object with keys: active, draggingRect, droppableRects over.

I don't see such change on https://github.com/clauderic/dnd-kit/releases/tag/%40dnd-kit%2Fcore%403.0.0 and I'm not sure how to upgrade.

Is this a bug or intentional change?

[2021-05-19 14:43] clauderic commented on #286
`id` must be a string, not a number https://codesandbox.io/s/dnd-kit-sort-demo-forked-r3n3e

[2021-05-19 14:43] #286 closed

[2021-05-19 14:44] clauderic commented on #287
Hey @morgoth, this was an intentional change. What properties were you using before that you're trying to migrate from?

[2021-05-19 14:46] clauderic commented on #284
Hey @yuri-scarbaci-lenio, going to close this issue as there doesn't seem to be anything actionable in the @dnd-kit repo. Feel free to re-open with more details if you find something that needs to be changed in the repository.

[2021-05-19 14:46] #284 closed

[2021-05-19 14:50] clauderic commented on #271
Top of mind, you probably need `regenerator-runtime` and `String.prototype.includes`.

I don't have the exhaustive list, your best bet is probably to use something like `corejs` and [`browserlist` to specify the browsers that you support](https://github.com/clauderic/dnd-kit/blob/master/.browserslistrc) so that the polyfills are added for you by your build system

[2021-05-19 14:50] #271 closed

[2021-05-19 17:35] DiegoMcDipster commented on #285
I have the same issue.

To recreate:
1. npx create-next-app dnd-kit-test
2. Take the code from : https://codesandbox.io/s/dnd-kit-flex-wrap-layout-yt4rv
3. npm run dev

[2021-05-19 18:36] medihack commented on #285
I could fix this error by creating an optional id prop for `DndContext`. Unfortunately, there is another error message then (stack trace below), because of the way [@dnd-kit uses createPortal in `Accessibility.tsx`](https://github.com/clauderic/dnd-kit/blob/fd7c173da4ca21b4ea3341805100bcd676a4a532/packages/core/src/components/Accessibility/Accessibility.tsx#L46) which is incompatible with how it [

[2021-05-20 00:25] joshjg commented on #261
One thing I found is that this function fails in Jest tests, because in Jest `window instanceof Window` returns false.

https://github.com/clauderic/dnd-kit/blob/master/packages/core/src/utilities/rect/getRect.ts#L41

[2021-05-20 00:50] joshjg commented on #261
Even still, there's not a very practical way to test the library in a `jsdom` environment - this library relies heavily on `getBoundingClientRect` which is stubbed to return all zeroes in `jsdom`. Even the keyboard events for a sortable list rely on these rects. One option would be to mock `getBoundingClientRect` with different values for each element in the list, but this would be pretty cumberso

[2021-05-20 03:12] clauderic commented on #261
That's somewhat to be expected @joshjg, this is a DOM heavy library and you're trying to author tests in a non-DOM environment. What type of tests are you trying to author?

You should generally limit yourself to the public interface of components like `<DndContext>` and mock events like `onDragStart`, `onDragOver` and `onDragEnd` to test how your application re-renders in response to those events

[2021-05-20 03:14] clauderic commented on #277
This is technically a bug with `useSortable`, but indeed as mentioned by @lueenavarro, you can solve this by using `DragOverlay` for the time being until this is resolved

[2021-05-20 03:17] joshjg commented on #261
I expected keyboard interaction for a sortable list to work at least, as it simply swaps items (not sure why their size or position would matter). That said, I'm mainly trying to test my own code, so mocking the library could be sufficient.

[2021-05-20 03:21] clauderic commented on #261
The size and position of items matters for all sensors. I'm going to assume you're using the Sortable preset. When using the Keyboard sensor with the sortable coordinates getter, the library tries to find the closest sortable item in the given direction. If all the positional coordinates and sizes of items are set to zero, the closest item will always be the same.

This is why you can't author tho

[2021-05-20 03:30] joshjg commented on #261
Ah, I guess my original assumption was that for the Sortable preset, down arrow would just find the next item in the list (based on the `items` list passed to `SortableContext`. I realize now that would only work for simple vertical/horizontal lists, and not grids.

Anyways, I completely agree that real browser testing is the way to go here, I just wanted to explore my options for unit testing to

[2021-05-20 12:30] morgoth commented on #287
I'm sorry, that I can't get detailed issue description, but I'm new to this part of code in our application.
This now fails (which I believe checks if draggins is done "below target":
`draggingRect.offsetTop > over.rect.offsetTop + over.rect.height`

[2021-05-20 14:20] clauderic commented on #287
Replace with:
[code]

[2021-05-20 14:20] #287 closed

[2021-05-20 16:02] morgoth commented on #286
@clauderic Could you put some some light why it changed to be a string? I think it's common to have numeric ids in apps. I'm debugging problems with upgrade in my app and I'm not sure if it is caused by this change or not.

[2021-05-20 16:02] morgoth commented on #287
Thanks, that helped. Now I'm debugging other issues with upgrade.

[2021-05-20 16:30] clauderic commented on #286
The documentation always explicitly stated that the `id` for draggable / droppable / sortable items had to be a string. It was a happy accident if it was working.

[2021-05-20 19:28] DiegoMcDipster commented on #285
If you don't mind, i'll ask you a noob question, why is the second warning less of an issue than the first?

[2021-05-20 20:21] medihack commented on #285
@DiegoMcDipster Both are issues during server-side rendering because of a mismatch between the rendered HTML on the server and the client. None of them is less or more important. The above pull request does fix both issues.

[2021-05-21 04:03] me82852578 opened #289 "@dnd-kit/core upgrade can't drag"
When I upgrade `@dnd-kit/core` from version `3.0.1` to `3.0.2` or `3.0.3`, my component can't drag.
Then I back to version `3.0.1` and the problem solved.
Maybe something wrong in 3.0.2 or 3.0.3 ?

[2021-05-21 05:57] DiegoMcDipster commented on #285
Ah.  OK.  Sorry, i'd misunderstood.

Thanks @medihack. I'm new to opensource and github.  I'm really impressed how people help each other out to make the libraries better.

[2021-05-21 13:00] Logaqm opened #290 "redundant rerenders - different objects equal by value"
Im attempting to optimize performance for my application using [WDYR ](https://github.com/welldone-software/why-did-you-render)and I think ive found an area where a lot of unnecessary rerenders could be saved. Information is provided in the logs of the codesandbox, but it seems a ton of updates could be saved with a simple equity check before updating the transform. This is especially unnecessary

[2021-05-21 15:04] clauderic commented on #289
Kind of hard to help you without more details. Can you share the code?

[2021-05-21 23:56] adelin-b opened #291 "Showing stories code in storybook"
Hello, today the storybook is only usefull as documentation by checking the corresponding repo on github and finding the related stories file.

Showing the content of thoses stories next to the component using an addon would be usefull.

[2021-05-22 10:45] medihack commented on #285
@DiegoMcDipster As long as the pull request is "Open" it is not merged. And then you still need to wait for a next release if you are installing it from NPM (but you can install it from a Github branch, too). Hope that helps and welcome to the community!

[2021-05-24 15:03] namroodinc commented on #89
What @faroukfaiz10 suggested here worked for me! Thanks!

[2021-05-25 09:22] Croden commented on #252
Issue is actually by having scroll on <html /> instead of <body />

[2021-05-25 16:05] morgoth commented on #286
@clauderic I'm going through documentation and I cannot find a mention about a hard requirement about string items. I can see it in examples as strings, but I guess it might be a common mistake made by end users, even more that in the examples there is an "id" name used, which most of the time is numeric in apps.

Is it making some big problems in the code to support numeric items?

[2021-05-25 16:10] clauderic commented on #286
This is documented in multiple places:

<img width="812" alt="Screen Shot 2021-05-25 at 12 07 46 PM" src="https://user-images.githubusercontent.com/1416436/119531376-d9dbe680-bd51-11eb-8d51-182cc8ad9d21.png">

[useDraggable](https://docs.dndkit.com/api-documentation/draggable/usedraggable)

<img width="827" alt="Screen Shot 2021-05-25 at 12 08 20 PM" src="https://user-images.githubusercontent.com/

[2021-05-26 01:41] elohmrow-vscode opened #292 "Vertical sort resizing issue"
## The problem

When I drag these components and they are all the same size, it works fine as expected:

[![Image from Gyazo](https://i.gyazo.com/577239e803f06667ccd56d7de1838fbf.gif)](https://gyazo.com/577239e803f06667ccd56d7de1838fbf)

If I start dragging a component that was in a larger expanded state it breaks the animation (as expected):

[![Image from Gyazo](https://i.gyazo.com/5ff49216a64f2

[2021-05-26 03:05] akhmadullin opened #293 "sorting does not work with yarn 2"
Hi, first of all, thx dnd-kit team for a such great lib!

### Problem

We tried to use dnd-kit for making sortable gallery in our project, based on yarn 2.
We faced a problem - @dnd-kit/sortable does not work in our project, despite the fact we did everything like in the docs.

**Example repo**
https://github.com/akhmadullin/dnd-kit-demo-yarn-2-broken
**Live demo**
https://akhmadullin.github.io/dn

[2021-05-26 12:14] h0liday commented on #289
I`ve faced the same issue after upgrade to 3.0.2 from 3.0.0.

[2021-05-26 14:04] augustblack commented on #272
After further investigation, I think the issue can be solved by preventing the touch events on mobile from bubbling up to the parent container ( eg adding touch-action: none to the parent)

[2021-05-26 14:04] #272 closed

[2021-05-26 19:23] clauderic commented on #292
Use `CSS.Translate.toString(transform)` instead of `CSS.Transform.toString(transform)`.

[2021-05-26 19:23] #292 closed

[2021-05-26 22:47] elohmrow-vscode commented on #292
What is the difference between the different `CSS` utility functions? I don't see it in the API documentation.

[2021-05-26 22:55] clauderic commented on #292
`Transform` applies `translatet3d() scale()` transformations whereas `Translate` only applies `translate3d()`

[2021-05-27 18:09] shauntrennery opened #296 "useDraggable onMouseDown handler swallows element's onClick event"
Given the code below, the handleClick is never called. Removing {...listeners} fixes the issue. It appears the `listeners.onMouseDown` prevents propagation of the event.

`<li
      onClick={handleClick}
      ref={setNodeRef}
      {...attributes}>
      {...listeners}
      <Content />
    </li>`

I've tried wrapping it with a div, wrapping Content with a div etc.

Any advice / pointers would be

[2021-05-27 18:17] clauderic commented on #296
Set an `activationConstraint` on the Mouse or Pointer sensor that is either based on `distance` or `delay`: https://docs.dndkit.com/api-documentation/sensors/pointer#activation-constraints

[code]

[2021-05-27 18:17] #296 closed

[2021-05-27 18:22] shauntrennery commented on #296
@clauderic sorry, I forgot to include my container's code in the snippet above:

`const pointerSensor = useSensor(PointerSensor, { activationConstraint: { distance: 10 } });
  const sensors = useSensors(pointerSensor);`

`<DndContext sensors={sensors}><ul...`

[2021-05-27 18:35] clauderic commented on #296
Your issue describes `onMouseDown` handlers swallowing `onClick` events, but the Pointer sensor doesn't use `onMouseDown`, it uses `onPointerDown` 🤔

Possibly a duplicate of #172?

Please consider opening a CodeSandbox replicating the issue for further assitance.

[2021-05-27 18:38] shauntrennery commented on #296
Thank you for the prompt replies @clauderic. I'll share a CodeSandBox example shortly.

[2021-05-27 20:35] #285 closed

[2021-05-27 21:09] rawcomposition opened #298 "onDragEnd delta.y property inaccurate when inside position fixed container"
I've encountered an issue where the `delta.y` property on the `onDragEnd` callback of `DndContext` shows an incorrect result if the container element is inside an element that does not scroll with the page. The issue is much easier to show than explain, so I created a CodeSandbox for it: https://codesandbox.io/s/headless-glitter-54n1r?file=/src/App.js

In the real world, I'm trying to drag a littl

[2021-05-28 02:19] #293 closed

[2021-05-28 07:19] shauntrennery commented on #296
@clauderic for your reference: [https://codesandbox.io/s/dndkit-k75i3?file=/index.tsx](https://codesandbox.io/s/dndkit-k75i3?file=/index.tsx)

It works 100% as expected. I'm trying to see what I'm doing wrong in my project.

[2021-05-29 15:37] medihack opened #304 "Flickering with DragOverlay after drop animation finished"
When using `DragOverlay` with React in concurrent mode, the dragged item inside the overlay just shows up again for some milliseconds, where it was released after the drop animation. This screencast demonstrates this problem:

![dnd-kit-flickering](https://user-images.githubusercontent.com/120626/120076052-17b77280-c0a4-11eb-9708-aaa713118cc3.gif)

**I am absolutely aware that concurrent mode is e

[2021-05-29 16:28] #304 closed

[2021-05-31 08:19] L-U-C-K-Y opened #308 "[FEATURE]: Drag a copy"
Hi all

Thanks for this great project!

I was wondering if there is the possibility to drag a copy.

<img width="802" alt="image" src="https://user-images.githubusercontent.com/14868134/120163267-a25db600-c1f9-11eb-9654-7e200b803e38.png">

In our use-case, we would like to group identical tasks into 1 element and indicate the copies with a badge.
If all 4 copies are dragged, then the element itsel

[2021-06-01 00:29] clauderic commented on #308
This is possible via the [DragOverlay component](https://docs.dndkit.com/api-documentation/draggable/drag-overlay)

[2021-06-01 00:29] #308 closed

[2021-06-02 00:59] OnlyJoe33 opened #309 "Update `CollisionDetection` interface to have more information about the active node and the droppable containers"
If you could pass both: droppableContainers and active, to the collisionDetection function. This would allow for more complex testing as to whether two items are allowed to collide.
Alternatively add a separate collisionAllowed function run directly after the CollisionDetection. I can't find a simple way to do something similar to this: http://sortablejs.github.io/Sortable/#sorting-disabled

[2021-06-02 08:44] rajat-sf opened #310 "Sorting is not working when we use dnd/Sortable with antd table, also drag and drop is not smooth on mobile devices when we drag columns of antd table."
Sorting is not working when we use dnd/Sortable with antd table, also drag and drop is not smooth on mobile devices when we drag columns of antd table.

Please find attached sandbox URL for your reference.
https://stackblitz.com/edit/react-wvyast?file=src%2FItem.js

Thanks in advance

[2021-06-02 16:15] baptisteArno opened #311 "Avoid triggering onClick when dropping an element?"
My element must be clickable and draggable:

- If just clicking, not dragging => trigger the click function
- If dragging => don't trigger the click function

I'd like to avoid triggering the `onClick` function when the element is dropped. I try to check `isDragged` or `isSorted` but they are set to false when the `onClick` function is fired

[2021-06-02 16:47] #311 closed

[2021-06-03 02:35] clauderic commented on #310
I didn't spend a lot of time on this, but it's definitely possible and as far as I can tell, everything is working fine with `@dnd-kit`.

Your sandbox doesn't work because the `Table` component from `ant-design` swallows the `style` property.

I edited your sandbox here with a slightly different approach that bypasses the issue https://stackblitz.com/edit/react-waoqzs?file=src%2FApp.js

[2021-06-03 02:35] #310 closed

[2021-06-03 04:56] Shajansheriff opened #313 "Module '"@dnd-kit/core"' has no exported member 'DragCancelEvent'"

[2021-06-03 06:59] lanyusan opened #315 "how to test if a rect is being dragged over upper half or bottom half of target?"
I am sorry if this has been asked before. I couldn't find out the answer by searching issues.

Is there a way to test if a rect is being dragged over upper half or bottom half of target?

I need to explicitly test this for some usecase.

Thanks.

[2021-06-03 13:17] baptisteArno commented on #172
The issue is still here when using `<DragOverlay>`. So as far as I know there is no workaround.

Any idea of another workaround or how to approach this issue @clauderic? I could make a PR

[2021-06-03 13:18] baptisteArno commented on #311
#172

[2021-06-03 15:24] DiegoMcDipster commented on #285
@medihack . Thanks for the welcome and also for the work you put into fixing this!

I thought that this was released and so i created a next app, installed the libraries via npm and tried the sample code on (https://docs.dndkit.com/presets/sortable#connecting-all-the-pieces). However, i'm still getting the error. Does this mean that it's not yet been released?
if that's the case, you said i can in

[2021-06-03 15:24] medihack commented on #315
Isn't it just possible to split the droppable in two? One for the upper target and one for the lower target. You can even wrap it in another droppable.

[2021-06-03 15:49] medihack commented on #285
It is fixed and released with v3.0.4. Make sure you have the right version in package.json. And don't forget to give DndContext an id (required to fix this issue with ssr).

[2021-06-04 04:43] rajat-sf commented on #310
thank you @clauderic but somehow click handler for table column sorter is not called but listener for drag is called,

would appreciate it if you can help us out resolve that.

[2021-06-04 04:52] DiegoMcDipster commented on #285
Fantastic!  It was the id that I was missing.  It's working a treat now!  Thanks again!

[2021-06-05 00:55] chipit24 opened #317 "Specifying dropAnimation on DragOverlay causes Sortable item to remain visible"
Compare these two scenarios (using a basic sortable grid):
___
Scenario 1: `DragOverlay` with no props specified.
Gif:
![dnd-kit](https://user-images.githubusercontent.com/7561061/120874496-e98ad480-c574-11eb-985d-13eb7e33cb47.gif)
Code sandbox: https://codesandbox.io/s/react-dnd-kit-basic-sortable-grid-wyt2y
Code snippet:
[code]
___
Scenario 2: `DragOverlay` with `dropAnimation` prop specified _u

[2021-06-05 22:17] chipit24 commented on #317
So it appears this is a "bug" with the documentation (and me not looking at the actual props interface). The docs at https://docs.dndkit.com/api-documentation/draggable/drag-overlay#drop-animation mention the `duration` and `easing` properties of the `DropAnimation` interface but don't mention the `dragSourceOpacity` property, which happens to be optional and if not specified, modifies the default

[2021-06-05 22:22] lanyusan commented on #315
That is a way to do it. Thanks.

[2021-06-05 22:41] chipit24 opened #319 "How to conditionally render sortable item until drop animation is complete?"
Currently, I can use the `isDragging` attribute returned from the `useSortable` hook to conditionally render an outline (in my case) while I'm dragging a sortable item:
<img width="231" alt="Screen Shot 2021-06-05 at 6 31 49 PM" src="https://user-images.githubusercontent.com/7561061/120907058-7ba1e400-c62c-11eb-809e-1f991e0a6af4.png">

When I let go, I want this outline to remain visible, but curr

[2021-06-06 05:34] Shajansheriff commented on #43
First of all thanks for building such a developer friendly DnD library @clauderic

We are building a kanban board and our first choice naturally went towards using react-beautiful-dnd and after trying out that, we end up facing this issue https://github.com/atlassian/react-beautiful-dnd/issues/131 and then we have to remove the package as it is not gonna be solved anytime soon.

After searching fo

[2021-06-06 11:49] medihack commented on #315
You're welcome. And maybe time to close the issue.

[2021-06-06 16:35] chipit24 commented on #319
I came up with a solution by listening to when the drag overlay mounts and unmounts, but it's not ideal as it causes a flicker when rendering and is of course dependent on the overlay handling the mouting/unmounting of the overlay component at the appropriate time.

E.g.:
[code]

[2021-06-07 00:19] #315 closed

[2021-06-07 06:37] rajat-sf opened #322 "Sorting event listener is not called when we use dnd/Sortable with antd table instead drag start and drag end is called when we try to sort the column"
Sorting event listener is not called when we use dnd/Sortable with antd table instead drag start and drag end is called when we try to sort the column

@clauderic thank you in advance

[2021-06-07 21:52] clauderic commented on #317
The `dragSourceOpacity` option isn't documented because I'm considering deprecating it in favour of having a global state that can be accessed via `useSortable` / `useDraggable` and `useDroppable` that sets `isPerformingDropAnimation` to `true / false`.

This would let consumers have full control over how to update the styles and rendered output of their components during the drop animation.

[2021-06-07 21:52] clauderic commented on #319
See https://github.com/clauderic/dnd-kit/issues/317#issuecomment-856288716

[2021-06-07 22:00] clauderic commented on #298
Hey @rawcomposition, currently there are bugs with position fixed items, I need to spend a bit more time reflecting on the best way to handle that use case as it will require a number of significant changes. Haven't had the headspace to prioritize that refactor yet

[2021-06-07 22:01] clauderic commented on #290
Could you elaborate on where in the code you think there are redundant re-renders that could be avoided? Feel free to open a PR

[2021-06-07 23:14] chipit24 commented on #317
Fantastic! The would solve my other issue (which you linked) as well, thanks 😃

[2021-06-08 06:48] rohit-sourcefuse commented on #310
Following+

I am also facing this issue with antd. I have tried @clauderic solution, it works only one issue antd sorting not works.
I tried to fix this but did not get any solution.

[2021-06-08 08:01] damien-monni opened #325 "Drag Overlay and scrolling container not working after scroll"
I don't know if it is related to #43, so I am opening a new issue.

I am having an issue with a simple drag and drop that is using a scrolling container. I tried to replicate the issue in the most simple way I could find here: https://codesandbox.io/s/dnd-kit-scroll-issue-iwxrm?file=/src/App.js

When the container is not scrolled, drag and drop works perfectly. But as soon as you scroll the contai

[2021-06-08 13:03] clauderic commented on #322
This isn't an issue with @dnd-kit. Please re-open an issue in the [ant-design repository](https://github.com/ant-design/ant-design/) or the [react-component/table repository](https://github.com/react-component/table) (which is what ant design uses under the hood to power its table component)

[2021-06-08 13:03] #322 closed

[2021-06-08 13:08] clauderic commented on #310
This isn't an issue with @dnd-kit. Please re-open an issue in the [ant-design repository](https://github.com/ant-design/ant-design/) or the [react-component/table repository](https://github.com/react-component/table) (which is what ant design uses under the hood to power its table component)

[2021-06-08 14:34] #313 closed

[2021-06-08 14:36] clauderic commented on #289
Closing this issue, most likely due to having multiple versions of `@dnd-kit/core` installed locally. This should be less of an issue now that we have moved `@dnd-kit/core` to `peerDependencies` of `@dnd-kit/sortable` and `@dnd-kit/modifiers` in #294

Feel free to open with replication steps.

[2021-06-08 14:36] #289 closed

[2021-06-09 14:29] Zmeu213 opened #327 "Error with snowpack and dnd-kit"
Hi. I got this error with just a rendering `<DndContext />` anywhere in the app created with snowpack
[code]

[2021-06-10 00:55] clauderic commented on #327
This is most likely an issue with the latter:

Double check your `package-lock.json` or `yarn.lock` file and make sure you don't have more than a single copy of `react` or `@dnd-kit/core` installed.

[2021-06-10 00:55] #327 closed

[2021-06-10 00:57] clauderic commented on #325
This is indeed a duplicate of #43, though thanks for the detailed issue report and replication sandbox

[2021-06-10 00:57] #325 closed

[2021-06-10 05:34] Zmeu213 commented on #327
@clauderic im pretty sure i only have one `react` package, why would i have more. If only `react` and `react-dom` is that 2 packages you talking about. Here is lines from my package.json
[code]
except it nope, i dont have extra reacts, whatever they are

[2021-06-10 12:10] clauderic commented on #327
You have to check in the package lock files, not in package.json to make sure you don't have multiple resolved versions installed.

Double check your package-lock.json or yarn.lock file and make sure you don't have more than a single copy of react or @dnd-kit/core

[2021-06-10 12:14] cmacdonnacha commented on #43
Hey @Shajansheriff , that [example](https://5fc05e08a4a65d0021ae0bf2-zditmhymjz.chromatic.com/?path=/story/presets-sortable-multiple-containers--many-items) only works because height is fixed right?

[2021-06-10 13:30] Zmeu213 commented on #327
Nope, got several `"react": ">=16.3.0"` and similar lines in package-lock as peerDependancies of some packages and only one `react`.
Also i checked react in different modules in project as `window.reactN` and compared them, no extra react detected.
So I pretty much think the problem is in snowpack and way it works with modules

[2021-06-11 03:57] SimeonC opened #328 "Sortable component without drag overlay doesn't scroll correctly"
If you take this example https://5fc05e08a4a65d0021ae0bf2-giunjmcqge.chromatic.com/?path=/story/presets-sortable-vertical--without-drag-overlay and try to drag so that the page scrolls then the dragging handle becomes misaligned with the cursor.

![CleanShot 2021-06-11 at 12 56 22](https://user-images.githubusercontent.com/1085899/121628611-7b826800-cab4-11eb-87ed-6857f0efaef0.gif)

[2021-06-11 05:21] SimeonC commented on #328
Ahh, I didn't find the note in https://docs.dndkit.com/api-documentation/draggable/drag-overlay about needing to fix the position.

[2021-06-11 05:21] #328 closed

[2021-06-12 06:56] baptisteArno opened #329 "Drag only when long pressing"
Hey!

It would be great to only enable the drag on long-pressing an element. I tried using [use-long-press](https://github.com/minwork/use-long-press)

[code]

It calls setCanDrag but it doesn't drag. Any idea how I can achieve this?

[2021-06-12 13:02] baptisteArno opened #330 "Display bug when sorting items with different widths?"
https://user-images.githubusercontent.com/16015833/121776780-10f22a80-cb8f-11eb-8348-e82525e17513.mp4

What am I doing wrong here?

https://codesandbox.io/s/sortabletabs-with-dragoverlay-forked-4l9k2?file=/src/SortableTabs.tsx:1835-1847

[2021-06-12 13:36] clauderic commented on #329
This isn't quite the right mental model for how you would implement something like this with @dnd-kit.

Make sure you [read about how Sensors work with @dnd-kit](https://docs.dndkit.com/api-documentation/sensors).

Specifically, the built-in sensors support [activation constraints](https://docs.dndkit.com/api-documentation/sensors/pointer#activation-constraints) such as delay or distance. In this

[2021-06-12 13:36] #329 closed

[2021-06-12 13:39] clauderic commented on #330
[code]

[2021-06-12 13:39] #330 closed

[2021-06-12 14:06] baptisteArno commented on #330
Thank you for your fast answer! 😃

I made the change, but it's still not ideal?

https://user-images.githubusercontent.com/16015833/121778557-b3161080-cb97-11eb-8d15-0218737dcdc0.mp4

Also, on the `Sortable` doc example, it uses `CSS.Transform`

[2021-06-12 14:08] clauderic commented on #330
Refer to https://github.com/clauderic/dnd-kit/issues/44#issuecomment-757312037

[2021-06-12 14:19] baptisteArno commented on #330
That makes total sense. Thank you, keep up the good work!

[2021-06-13 18:58] dataangel opened #332 "The response is lost after moving in Touch mode"
![image](https://user-images.githubusercontent.com/587849/121818883-8f001f80-ccbc-11eb-8fb0-71253db7c8a6.png)

[2021-06-16 18:43] trentmwillis commented on #122
We have a similar issue where we have a drag handle that is offset from the dragged object, which means our `DragOverlay` is offset from the cursor as well.

Has a way to support this been implemented yet? If not, I'd be happy to implement [the approach suggested above](https://github.com/clauderic/dnd-kit/issues/122#issuecomment-796429397) as well as a related modifier.

[2021-06-17 14:32] trentmwillis commented on #122
After futzing with this for a couple hours, I decided to go ahead and take a stab at implementing a solution. Opened #334 with the result.

[2021-06-18 16:41] wmain commented on #255
@clauderic I might take a stab at implementing this. Would love al little guidance, though, namely regarding: Should `RectEntry` be updated or should the signature of `CollisonDetection` change to some new type that is `[RectEntry, DataRef]`? The first doesn't seem "correct," but the second is a breaking change, which doesn't feel great either.

[2021-06-19 02:48] clauderic commented on #255
Yeah unfortunately this was a poor design decision on my part, this will require a breaking change. The `CollisionDetection` interface should more closely match something like this:

[code]

[2021-06-20 13:35] valtism opened #336 "[Sortable] Double animation on drop"
Hi there 👋

First of all, wanted to say a huge thanks for this library. It's incredibly easy to use, works super well and is super polished. You should be very proud of it.

Anyway, the issue I'm facing is that with a sortable grid, when I drag an item to any position, except for its direct neighbour to the left or right (interestingly, even if the neighbour is on a different row), there will be a

[2021-06-20 14:35] valtism commented on #336
Ok, after some more fiddling with this, I figured out that I can use `animateLayoutChanges: () => false` in `useSortable`.

I still find this confusing, because in the storybook examples, the `<SortableItem>` components have `animateLayoutChanges: undefined`, which I believe should set them back to the default animation. Despite this, they seem to handle drop animations fine.

Going to leave this

[2021-06-20 23:00] nc commented on #298
+1

[2021-06-20 23:12] nc commented on #298
Might there be something to apply in the interim to get it working again?

[2021-06-21 13:29] rawcomposition commented on #298
@nc my very "hacky" solution was to subtract the scrollTop from delta.y. Since my modal was scrolling, I also had to subtract the modal scrollTop.

[code]

[2021-06-21 14:15] ShakurOo commented on #172
Same problem. The onClick event attached to the button inside my draggable element doesn't trigger anything :/

[2021-06-22 16:17] Eneris opened #338 "DataTransfer"
Hi. My use-case requires some dragging of data out of the site context / browser windows.
In other words, I need to use https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer

Is there a way to access Drag event to be able to set DataTransfer data?

Best,
Martin

[2021-06-22 16:24] clauderic commented on #338
There isn't. This is by design. Refer to https://github.com/clauderic/dnd-kit/discussions/306

[2021-06-22 16:24] #338 closed

[2021-06-22 16:31] Eneris commented on #338
Thanks for the quick response

[2021-06-22 23:31] #122 closed

[2021-06-23 00:22] clauderic commented on #336
Hey @valtism, thanks for the kind words.

The main difference between your example and the storybook examples is that you are using `rectSwappingStrategy`. I'll have to spend more time investigating into why the layout animation is yielding this behaviour when used in coordination with `rectSwappingStrategy`.

For now as you have discovered, you can get around the issue by disabling layout changes

[2021-06-23 00:25] valtism commented on #336
This doesn't just happen with `rectSwappingStrategy`, you can change it to `rectSortingStrategy` in the codeSandbox and see that you still get this layout animation happening.

[2021-06-23 00:27] clauderic commented on #336
@valtism that's because of the way you're moving items on sort end. Your custom `sort` function assumes that the items need to swap position instead of being sorted. If you replace it with `arrayMove` that is exported from `@dnd-kit/sortable` you won't see that behavior.

[2021-06-23 17:03] eschaefer commented on #125
@messerc I want to thank you for posting this workaround code. It did exactly fix the same issue for us. I ended up needing to spread a little more data into the `draggableNodes[dragId]`, but it actually worked and re-registered forcefully.

[code]

[2021-06-23 19:22] benjamin-andersen opened #344 "Flinging draggable item causes miscalculated position"
I'm not sure if anyone has seen/found this yet, but it seems that there is an issue with quick mouse movements. This GIF is from the [storybook](https://5fc05e08a4a65d0021ae0bf2-cbfrwoklyt.chromatic.com/?path=/story/core-draggable-hooks-usedraggable--basic-setup) from the examples at https://dndkit.com/.

<a href="https://gyazo.com/3984bf532dd6284f6d8de089bb332e0a"><img src="https://i.gyazo.com/39

[2021-06-23 21:53] a6h-s opened #345 "Moving to different sortable list triggers a reorder in original list"
This is from the [Sortable / Multiple containers / Basic setup storybook](https://5fc05e08a4a65d0021ae0bf2-cbfrwoklyt.chromatic.com/?path=/story/presets-sortable-multiple-containers--basic-setup). When you move a card down to reorder the current list, then move it to another list, the original list will reorder again. Not sure what's causing this.

I assume it's partly because the card doesn't act

[2021-06-23 22:12] messerc commented on #125
thanks for that @eschaefer - I'm glad at least someone else got some benefit from my hours of confusion and pain.

[2021-06-24 10:07] linxianxi opened #348 "Grid scrolling has errors."
When scrolling, it shows the wrong mouse position, and then the drag disappears.
![2](https://user-images.githubusercontent.com/47104575/123246672-a212bb00-d518-11eb-8389-284b3977cc91.gif)